@using AlAfkarERP.Shared.Utilities
@inject SharedDataService SharedDataService
@inject NavigationManager NavigationManager

<div class="bg-dark text-white d-flex flex-column p-2" style="width: 250px;">

    <!-- Logo -->
    <div class="text-center mb-3">
        <h5 class="fw-bold">ERP System</h5>
    </div>

    <!-- Menu -->
    <ul class="nav nav-pills flex-column">
    
        <li class="nav-item">
            <NavLink href="/" class="nav-link text-white-50" Match="NavLinkMatch.All">
                <i class="bi bi-house-door me-2"></i>
                @SharedDataService.SelectViewLang("Home", "الرئيسية")
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink href="/Dashboard" class="nav-link text-white-50">
                <i class="bi bi-speedometer2 me-2"></i>
                @SharedDataService.SelectViewLang("Control Panel", "لوحة التحكم")
            </NavLink>
        </li>

        <li class="nav-item">
            <NavLink href="/Organization/Dashboard" class="nav-link text-white-50">
                <i class="bi bi-diagram-3 me-2"></i>

                @(SharedDataService.SelectViewLang("Organizational Structure", "الهيكل التنظيمي"))
                
            </NavLink>
        </li>

        <li class="nav-item">
            <NavLink href="/Employee/Dashboard" class="nav-link text-white-50">
                <i class="bi bi-people me-2"></i>
                @(SharedDataService.SelectViewLang("Human Resource", "الموارد البشرية"))
            </NavLink>
        </li>
 
        <li class="nav-item">
            <NavLink href="/Warehouse/Dashboard" class="nav-link text-white-50">
                <i class="bi bi-box-seam me-2"></i>
                @(SharedDataService.SelectViewLang("Warehouses", "المستودعات"))
            </NavLink>
        </li>
        
        <li class="nav-item">
            <NavLink href="/Auth/Dashboard" class="nav-link text-white">
                <i class="bi bi-shield-lock me-2"></i>
                <strong>
                    @SharedDataService.SelectViewLang("Security Management", "إدارة الآمان")
                </strong>
            </NavLink>
        </li>




        <li class="nav-item ms-3">
            <NavLink href="/Auth/Role/List" class="nav-link text-white">
                <i class="bi bi-shield-check me-2"></i>
                @(SharedDataService.SelectViewLang("Roles Management", "إدارة الصلاحيات"))
            </NavLink>
        </li>
        
        <li class="nav-item ms-3">
            <NavLink href="/Auth/User/AssignRole" class="nav-link text-white">
                <i class="bi bi-person-lines-fill me-2"></i>
                @(SharedDataService.SelectViewLang("Assign users roles", "تعيين صلاحيات المستخدمين"))
            </NavLink>
        </li>

        @* <li class="nav-item ms-3">
            <NavLink href="/Auth/User/List" class="nav-link text-white">
                <i class="bi bi-person-lines-fill me-2"></i>
                @(SharedDataService.SelectViewLang("Users Management", "إدارة المستخدمين"))
            </NavLink>
        </li> *@

    </ul>

</div>
@code {
    protected override void OnInitialized()
    {
        SharedDataService.OnChange1 += HandleChangeAsync;
    }

    private async Task HandleChangeAsync()
    {
        await InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        SharedDataService.OnChange1 -= HandleChangeAsync;
    }
}