@using AlAfkarERP.Shared.Utilities
@inject SharedDataService SharedDataService
@inject NavigationManager NavigationManager

<div class="bg-dark text-white d-flex flex-column p-2" style="width: 250px;">

    <!-- Logo -->
    <div class="text-center mb-3">
        <h5 class="fw-bold">ERP System</h5>
    </div>

    <!-- Menu -->
    <ul class="nav nav-pills flex-column">

        <li class="nav-item">
            <NavLink href="/" class="nav-link text-white" Match="NavLinkMatch.All">
                <i class="bi bi-speedometer2 me-2"></i>
                Home
            </NavLink>
        </li>

        <li class="nav-item">
            <NavLink href="/AdminDashboard" class="nav-link text-white">
                <i class="bi bi-box-seam me-2"></i>
                @(SharedDataService.SelectViewLang("Control Panel","لوحة التحكم"))
            </NavLink>
        </li>

        <li class="nav-item">
            <NavLink href="/Auth/Role/List" class="nav-link text-white">
                <i class="bi bi-box-seam me-2"></i>
                @(SharedDataService.SelectViewLang("Roles Management", "إدارة الصلاحيات"))
            </NavLink>
        </li>

        <li class="nav-item">
            <NavLink href="/Auth/User/List" class="nav-link text-white">
                <i class="bi bi-box-seam me-2"></i>
                @(SharedDataService.SelectViewLang("Users Management", "إدارة المستخدمين"))
            </NavLink>
        </li>
        
        <li class="nav-item">
            <NavLink href="/Organization/Administration/List" class="nav-link text-white">
                <i class="bi bi-tags me-2"></i>
                @SharedDataService.SelectViewLang("Administrations","الإدارات")
            </NavLink>
        </li>

        <li class="nav-item">
            <NavLink href="/Organization/Department/List" class="nav-link text-white">
                <i class="bi bi-building me-2"></i>
                @SharedDataService.SelectViewLang("Departments","الأقسام")
            </NavLink>
        </li>

        
    </ul>

</div>