@layout EmployeeLayout
@page "/Employee/AcademicInistitution/List";
@using AlAfkarERP.Shared.Pages.Features.Employees.Layout

@using AlAfkarERP.Shared.Pages.Features.Employees.Services
@using AlAfkarERP.Shared.Pages.Reuable2
@using AlAfkarERP.Shared.Utilities
@using Microsoft.AspNetCore.Components.Authorization
@using SharedWithUI.Employees.Dtos
@using SharedWithUI.Permissions


@inject IAcademicInistitutionService AcademicInistitutionService
@inject ToastService ToastService
@inject ModalService ModalService

@inject AuthenticationStateProvider AuthenticationStateProvider


@inject NavigationManager NavigationManager
@inject SharedDataService SharedDataService

@if(!AuthState.User.Claims.Any(c=> c.Value == PermissionList.AcademicInistitutionPermissions.Create) ||
    !AuthState.User.Claims.Any(c=> c.Value==PermissionList.AcademicInistitutionPermissions.Edit))
{
    <div class="alert alert-warning">
        <span>
            @SharedDataService.SelectViewLang("You don't have permissions to view this page",
            "ليس لديك الصلاحية لعرض هذه الصفحة")
        </span>
    </div>
    return;
}
<!-- Branches -->
<h5>@SharedDataService.SelectViewLang("Academic Inistitution Management", "ادارة المؤسسة التعليمية")</h5>

@* <button class="btn btn-sm btn-primary mb-2" @onclick="CreateNew">+ Add Branch</button> *@
<button class="btn btn-primary mb-3"
        @onclick="CreateNew"
        disabled="@(!AuthState.User.Claims.Any(c => c.Value == PermissionList.AcademicInistitutionPermissions.Create))">
    <i class="bi bi-file-earmark-plus-fill"></i> @(SharedDataService.Language == "Ar" ? "إضافة جديد" : "Create New")
</button>

<div class="card p-3 mb-3">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <!--

        Export to xls and pdf
        <div class="d-flex gap-2">

            <button class="btn btn-success btn-sm" @onclick="ExportToExcel">
                <i class="bi bi-file-earmark-excel"></i> Excel
            </button>

            <button class="btn btn-danger btn-sm" @onclick="ExportToPdf">
                <i class="bi bi-file-earmark-pdf"></i> PDF
            </button>

        </div>
        -->
        <!-- 🔍 Search -->
        <div>
            <input class="form-control"
                   placeholder="Search..."
                   @bind="searchText" />
        </div>

        <!--

        🎯 Filter
        <div class="col-md-3">
            <select class="form-select" @bind="filterMainBranch">
                <option value="">All</option>
                <option value="true">Main Branch</option>
                <option value="false">Not Main</option>
            </select>
        </div>
        -->
        <!-- 📄 Page Size -->
        <div>
            @* <select class="form-select" @bind="pageSize"> *@
            <select class="form-select" @onchange="OnPageSizeChanged">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="20">20</option>
            </select>
        </div>

    </div>
    
    <table class="table">
        <thead>
            <tr>
                <th @onclick="() => Sort(nameof(AcademicInstitutionDto.Name))">
                    <span class="@(sortAscending ? "bi bi-arrow-up" : "bi bi-arrow-down")"></span>
                    @SharedDataService.SelectViewLang("Name", "الاسم")
                </th>
                <th @onclick="() => Sort(nameof(AcademicInstitutionDto.NameEng))">
                    <span class="@(sortAscending ? "bi bi-arrow-up" : "bi bi-arrow-down")"></span>
                    @SharedDataService.SelectViewLang("Name (Eng.)", "الاسم بالانجليزية")
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var academic in ProcessedAcademicInistitutions)
            {
                if (editingAcademicInstitutionId == academic.Id)
                {
                    <tr>
                        <td colspan="3">
                            <EditForm Model="academic" OnValidSubmit="() => SaveAcademicInstitution(academic)">
                                <DataAnnotationsValidator />
                                @* <ValidationSummary /> *@

                                <div class="row bg-info-subtle p-3">

                                    <div class="mb-3 row">
                                        <label for="inputFirstName" class="col-sm-2 col-form-label">@SharedDataService.SelectViewLang("Latitude", "خط العرض")</label>
                                        <div class="col-sm-10">
                                            <InputText class="form-control" @bind-Value="academic.Name" />
                                            <ValidationMessage For="() => academic.Name" />
                                            
                                        </div>
                                    </div>

                                    <div class="mb-3 row">
                                        <label for="inputFirstName" class="col-sm-2 col-form-label">@SharedDataService.SelectViewLang("Latitude", "خط العرض")</label>
                                        <div class="col-sm-10">
                                            <InputText class="form-control" @bind-Value="academic.NameEng" />
                                            <ValidationMessage For="() => academic.NameEng" />
                                        </div>
                                    </div>
                                    
                                    <div class="mb-3 row">
                                        <label for="inputFirstName" class="col-sm-2 col-form-label"></label>
                                        <div class="col-sm-10">
                                            <button type="submit"  class="btn btn-success btn-sm">
                                                @SharedDataService.SelectViewLang("Save", "حفظ")
                                            </button>

                                            <button type="button"
                                                    class="btn btn-secondary btn-sm"
                                                    @onclick="CancelEdit">
                                                @SharedDataService.SelectViewLang("Cancel", "إلغاء")
                                            </button>
                                        </div>
                                    </div>

                                    
                                </div>
                            </EditForm>
                        </td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td>@academic.Name</td>
                        <td>@academic.NameEng</td>
                        <td>
                            <button class="btn btn-warning btn-sm"
                                    disabled="@(!AuthState.User.Claims.Any(c => c.Value == PermissionList.AcademicInistitutionPermissions.Edit))"
                                    @onclick="() => EditAcademicInstitution(academic.Id)">
                                Edit
                            </button>
                            <button class="btn btn-danger btn-sm"
                                    disabled="@(!AuthState.User.Claims.Any(c=> c.Value==PermissionList.AcademicInistitutionPermissions.Delete))"
                                    @onclick="() => DeleteAcademicInstitution(academic)">
                                @SharedDataService.SelectViewLang("Delete", "حذف")
                            </button>
                        </td>
                    </tr>
                }
            }

        </tbody>
    </table>
    <div class="d-flex justify-content-end align-items-center mt-3">

        <button class="btn btn-sm btn-secondary"
                @onclick="PrevPage"
                disabled="@(pageIndex == 1)">
            Previous
        </button>

        <span class="mx-3">Page @(pageIndex + 1) of @TotalPages @(TotalPages == 1 ? "" : "Pages")</span>

        <button class="btn btn-sm btn-secondary"
                @onclick="NextPage"
                disabled="@(pageIndex >= TotalPages)">
            Next
        </button>

    </div>
</div>

@code {
    private List<AcademicInstitutionDto> academicInstitutions = new();
    private Guid? editingAcademicInstitutionId;
    private Guid companyId;
    private AuthenticationState AuthState;
    protected override async Task OnInitializedAsync()
    {
        AuthState = await ((CustomAuthStateProvider)AuthenticationStateProvider).GetAuthenticationStateAsync();
        companyId = Guid.Parse(AuthState.User.Claims.First(c => c.Type == "company_id").Value);

        await LoadAcademicInstitutions();
        // var branchResponse = await BranchService.GetByCompanyIdAsync(companyId);
        // if (branchResponse.IsSuccess)
        // {
        //     branches = branchResponse.Data?.ToList() ?? [];
        // }
    }
    // Branch
    void CreateNew()
    {
        var newItem = new AcademicInstitutionDto
        {
            Id = Guid.Empty // IMPORTANT FIX
        };

        academicInstitutions.Insert(0, newItem);
        editingAcademicInstitutionId = newItem.Id;
    }
    void EditAcademicInstitution(Guid id) => editingAcademicInstitutionId = id;

    async Task SaveAcademicInstitution(AcademicInstitutionDto academic)
    {
        if (academic.Id == Guid.Empty)
        {
            Random rnd = new Random();
            // academic.Code = academic.Title.Substring(0, 1) + rnd.Next(100, 999);
            academic.CompanyId = companyId;

            var bResponse = await AcademicInistitutionService.CreateAsync(academic);
            if (bResponse.IsSuccess)
            {
                //show success
                ToastService.Show(new ToastMessage
                {
                    Message = SharedDataService.SelectViewLang("Academic Institution has been created successfully", "تم انشاء المؤسسة التعليمية بنجاح"),
                    Type = "success"
                });

            }
            else
            {
                // how fail
                ToastService.Show(new ToastMessage
                {
                    Message = SharedDataService.SelectViewLang("Error has occured, please try again later", "حدث خطأ، الرجاء المحاولة مرة أخرى"),
                    Type = "error"
                });
            }
        }
        else
        {

            var bresponse = await AcademicInistitutionService.UpdateAsync(academic);
            if (bresponse.IsSuccess)
            {
                //show success
                ToastService.Show(new ToastMessage
                {
                    Message = SharedDataService.SelectViewLang("Academic Institution has been Edited successfully", "تم تعديل المؤسسة التعليمية بنجاح"),
                    Type = "success"
                });
            }
            else
            {
                // show  fail
                ToastService.Show(new ToastMessage
                {
                    Message = SharedDataService.SelectViewLang("Error has occured, please try again later", "حدث خطأ، الرجاء المحاولة مرة أخرى"),
                    Type = "error"
                });
            }
        }

        await LoadAcademicInstitutions();

        editingAcademicInstitutionId = null;
    }

    async Task DeleteAcademicInstitution(AcademicInstitutionDto academic)
    {
        await ModalService.ShowAsync(new ModalOptions
        {
            Title = SharedDataService.SelectViewLang("Confirm Delete", "تأكيد عملية الحذف"),
            Message = SharedDataService.SelectViewLang($"Are you sure you want to delete this Academic Institution: {academic.NameEng}?",
                                                        $"هل ترغب فعلا في حذف المؤسسة التعليمية: {academic.Name}؟"),
            ShowCancel = true,
            OkText = SharedDataService.SelectViewLang("Yes", "نعم"),
            CancelText = SharedDataService.SelectViewLang("No", "لا"),

            OnOk = async () =>
            {
                var brResponse = await AcademicInistitutionService.DeleteAsync(academic.Id);
                if (brResponse.IsSuccess)
                {

                    ToastService.Show(new ToastMessage
                    {
                        Message = SharedDataService.SelectViewLang("Deleted successfully", "تم الحذف بنجاح"),
                        Type = "success"
                    });

                    await LoadAcademicInstitutions();
                    await InvokeAsync(StateHasChanged);
                    // var response = await BranchService.GetByCompanyIdAsync(companyId);
                    // if (response.IsSuccess)
                    // {
                    //     branches = response.Data?.ToList() ?? [];
                    //     await InvokeAsync(StateHasChanged);
                    // }
                }
                else
                {
                    ToastService.Show(new ToastMessage
                    {
                        Message = SharedDataService.SelectViewLang("Fail to delete the position", "فشلت عملية الحذف"),
                        Type = "error"
                    });
                }


            }
        });


    }

    async Task CancelEdit()
    {
        var item = academicInstitutions.FirstOrDefault(x => x.Id == editingAcademicInstitutionId);

        if (item != null && item.Id != Guid.Empty)
        {
            // optional: reload from DB if needed
            
        }

        if (item != null && item.Id != Guid.Empty)
        {
            // existing record → keep it
            var acaRes = await AcademicInistitutionService.GetByCompanyAsync(companyId, 0, 1000);
            if (acaRes.IsSuccess)
            {
                academicInstitutions = acaRes.Data?.Data?.ToList() ?? [];
            }
        }
        else
        {
            // new record → remove it
            academicInstitutions.Remove(item);
        }

        editingAcademicInstitutionId = null;
    }

    #region Table Helpers


    // Searching
    private string searchText = "";

    // Sorting
    private string sortColumn = nameof(AcademicInstitutionDto.Name);
    private bool sortAscending = true;

    // Pagination
    private int pageSize = 5;
    private int pageIndex = 0;
    private async Task LoadAcademicInstitutions()
    {
        // var request = new PaginationRequest(pageIndex, pageSize, searchText);

        var response = await AcademicInistitutionService.GetByCompanyAsync(companyId, pageIndex, pageSize);//,searchText);

        if (response.IsSuccess)
        {
            // var result = response.Data!.Data;

            // branches = result.Data.ToList();
            academicInstitutions = response.Data?.Data.ToList() ?? [];
            // TotalPages = (int)response.Data!.Count;
            TotalPages = (int)Math.Ceiling(response.Data!.Count / (double)pageSize);
        }
    }
    async Task OnPageSizeChanged(ChangeEventArgs e)
    {
        pageSize = int.Parse(e.Value!.ToString()!);
        pageIndex = 0;
        await LoadAcademicInstitutions();
    }
    private IEnumerable<AcademicInstitutionDto> ProcessedAcademicInistitutions =>
    academicInstitutions
        // 🔍 Search
        .Where(b =>
            string.IsNullOrWhiteSpace(searchText) ||
            (b.Name?.Contains(searchText, StringComparison.OrdinalIgnoreCase) ?? false) ||
            (b.NameEng?.Contains(searchText, StringComparison.OrdinalIgnoreCase) ?? false)
        )

        
        // 🎯 Filter
        // .Where(b =>
        //     filterMainBranch == null || b.IsMainBranch == filterMainBranch
        // )

        // 🔃 Sorting
        .OrderByDynamic(sortColumn, sortAscending)

        // 📄 Pagination
        .Skip((pageIndex) * pageSize)
        .Take(pageSize);



    // Filtering example
    private bool? filterMainBranch = null;
    // private long totalCount = 0;
    private int TotalPages = 1;
    // private int TotalPages =>
    // (int)Math.Ceiling(
    //     totalCount/ (double)pageSize);

    async Task NextPage()
    {
        // if (currentPage < TotalPages)
        //     currentPage++;

        if (pageIndex < TotalPages - 1)
        {
            pageIndex++;
            await LoadAcademicInstitutions();
        }
    }

    async Task PrevPage()
    {
        // if (pageIndex > 1)
        //     pageIndex--;
        
        if (pageIndex > 0)
        {
            pageIndex--;
            await LoadAcademicInstitutions();
        }
    }

    void Sort(string column)
    {
        if (sortColumn == column)
            sortAscending = !sortAscending;
        else
        {
            sortColumn = column;
            sortAscending = true;
        }
    }
    #endregion Table helpers
    protected override void OnInitialized()
    {
        SharedDataService.OnChange1 += HandleChangeAsync;
    }

    private async Task HandleChangeAsync()
    {
        await InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        SharedDataService.OnChange1 -= HandleChangeAsync;
    }
}
