@layout Organization.Layout.OrganizationLayout
@page "/Organization/Branch/List"
@using AlAfkarERP.Shared.Pages.Features.Company.Services
@* @using AlAfkarERP.Shared.Pages.Reuable *@
@using AlAfkarERP.Shared.Pages.Reuable2
@using AlAfkarERP.Shared.Utilities
@using Microsoft.AspNetCore.Components.Authorization
@using SharedWithUI.Permissions


@inject IBranchService BranchService
@inject ToastService ToastService
@inject ModalService ModalService

@inject AuthenticationStateProvider AuthenticationStateProvider


@inject NavigationManager NavigationManager
@inject SharedDataService SharedDataService

@if (!AuthState.User.Claims.Any(c => c.Value == $"{PermissionList.SpecializationPermissions.Create}"))
{
    <div class="alert alert-warning">
        <span>@SharedDataService.SelectViewLang("You don't have permissions to view this page", "ليس لديك الصلاحية لعرض هذه الصفحة")</span>
    </div>
}

<!-- Branches -->
<h5>@SharedDataService.SelectViewLang("Branches Management", "ادارة الفروع")</h5>

@* <button class="btn btn-sm btn-primary mb-2" @onclick="CreateNew">+ Add Branch</button> *@
<button class="btn btn-primary mb-3"
        @onclick="CreateNew"
        disabled=@(!AuthState.User.Claims.Any(c => c.Value == $"{PermissionList.BranchPermissions.Create}") ? true : false)>
    <i class="bi bi-file-earmark-plus-fill"></i> @(SharedDataService.Language == "Ar" ? "إضافة جديد" : "Create New")
</button>

<div class="card p-3 mb-3">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <!--

        Export to xls and pdf
        <div class="d-flex gap-2">

            <button class="btn btn-success btn-sm" @onclick="ExportToExcel">
                <i class="bi bi-file-earmark-excel"></i> Excel
            </button>

            <button class="btn btn-danger btn-sm" @onclick="ExportToPdf">
                <i class="bi bi-file-earmark-pdf"></i> PDF
            </button>

        </div>
        -->
        <!-- 🔍 Search -->
        <div>
            <input class="form-control"
                   placeholder="Search..."
                   @bind="searchText" />
        </div>

        <!--

        🎯 Filter
        <div class="col-md-3">
            <select class="form-select" @bind="filterMainBranch">
                <option value="">All</option>
                <option value="true">Main Branch</option>
                <option value="false">Not Main</option>
            </select>
        </div>
        -->
        <!-- 📄 Page Size -->
        <div>
            @* <select class="form-select" @bind="pageSize"> *@
            <select class="form-select" @onchange="OnPageSizeChanged">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="20">20</option>
            </select>
        </div>

    </div>
    <table class="table">
        <thead>
            <tr>
                <th @onclick="() => Sort(nameof(BranchDto.Name))">
                    <span class="@(sortAscending ? "bi bi-arrow-up" : "bi bi-arrow-down")"></span>
                    @SharedDataService.SelectViewLang("Name", "الاسم")
                </th>
                <th @onclick="() => Sort(nameof(BranchDto.NameEng))">@SharedDataService.SelectViewLang("NameEng", "الاسم بالانجليزية")</th>
                <th>@SharedDataService.SelectViewLang("Phone", "الهاتف")</th>
                <th @onclick="() => Sort(nameof(BranchDto.Email))">Email</th>
                <th @onclick="() => Sort(nameof(BranchDto.Location))">Location</th>
                <th>@SharedDataService.SelectViewLang("Longitude", "خط الطول")</th>
                <th>@SharedDataService.SelectViewLang("Latitude", "خط العرض")</th>
                <th>@SharedDataService.SelectViewLang("Main branch?", "فرع رئيسي؟")</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @* @foreach (var b in branches) *@
            @foreach (var branch in ProcessedBranches)
            {
                @if (editingBranchId == branch.Id)
                {
                    <tr>
                        <td colspan="9">
                            <EditForm Model="branch" OnValidSubmit="() => SaveBranch(branch)">
                                <DataAnnotationsValidator />
                                @* <ValidationSummary/> *@
                                @* <InputHidden @bind-Value="branch.Id"/> *@
                                <div class="row bg-info-subtle p-3">

                                    <div class="mb-3 row">
                                        <label for="inputFirstName" class="col-sm-2 col-form-label">@SharedDataService.SelectViewLang("Name", "الاسم")</label>
                                        <div class="col-sm-10">
                                            <InputText class="form-control" @bind-Value="branch.Name" />
                                            <ValidationMessage For="() => branch.Name" />
                                        </div>
                                    </div>

                                    <div class="mb-3 row">
                                        <label for="inputFirstName" class="col-sm-2 col-form-label">@SharedDataService.SelectViewLang("Name (En)", "الاسم (انجليزي)")</label>
                                        <div class="col-sm-10">
                                            <InputText class="form-control" @bind-Value="branch.NameEng" />
                                            <ValidationMessage For="() => branch.NameEng" />
                                        </div>
                                    </div>

                                    <div class="mb-3 row">
                                        <label for="inputFirstName" class="col-sm-2 col-form-label">@SharedDataService.SelectViewLang("Phone", "الهاتف")</label>
                                        <div class="col-sm-10">
                                            <InputText class="form-control" @bind-Value="branch.Phone" />
                                            <ValidationMessage For="() => branch.Phone" />
                                        </div>
                                    </div>
                                    
                                    <div class="mb-3 row">
                                        <label for="inputFirstName" class="col-sm-2 col-form-label">@SharedDataService.SelectViewLang("Email", "الايميل")</label>
                                        <div class="col-sm-10">
                                            <InputText class="form-control" @bind-Value="branch.Email" />
                                            <ValidationMessage For="() => branch.Email" />
                                        </div>
                                    </div>

                                    <div class="mb-3 row">
                                        <label for="inputFirstName" class="col-sm-2 col-form-label">@SharedDataService.SelectViewLang("Location", "الموقع")</label>
                                        <div class="col-sm-10">
                                            <InputText class="form-control" @bind-Value="branch.Location" />
                                            <ValidationMessage For="() => branch.Location" />
                                        </div>
                                    </div>
                                    
                                    <div class="mb-3 row">
                                        <label for="inputFirstName" class="col-sm-2 col-form-label">@SharedDataService.SelectViewLang("Longitude", "خط الطول")</label>
                                        <div class="col-sm-10">
                                            <InputNumber class="form-control" @bind-Value="branch.Longitude" />
                                            <ValidationMessage For="() => branch.Longitude" />
                                        </div>
                                    </div>

                                    <div class="mb-3 row">
                                        <label for="inputFirstName" class="col-sm-2 col-form-label">@SharedDataService.SelectViewLang("Latitude", "خط العرض")</label>
                                        <div class="col-sm-10">
                                            <InputNumber class="form-control" @bind-Value="branch.Latitude" />
                                            <ValidationMessage For="() => branch.Latitude" />
                                        </div>
                                    </div>
                                    
                                    <div class="mb-3 row">
                                        <label for="inputFirstName" class="col-sm-2 col-form-label">@SharedDataService.SelectViewLang("Main Branch?", "الفرع الرئيسي؟")</label>
                                        <div class="col-sm-10">
                                            <InputCheckbox class="form-check-input" @bind-Value="branch.IsMainBranch" />
                                        </div>
                                    </div>
                                    
                                    <div class="col">
                                        <button type="submit" class="btn btn-success btn-sm">Save</button>
                                        <button type="button" class="btn btn-secondary btn-sm" @onclick="CancelEdit">Cancel</button>
                                    </div>
                                </div>
                            </EditForm>
                        </td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td>@branch.Name</td>
                        <td>@branch.NameEng</td>
                        <td>@branch.Phone</td>
                        <td>@branch.Email</td>
                        <td>@branch.Location</td>
                        <td>@branch.Longitude</td>
                        <td>@branch.Latitude</td>
                        <td>@branch.IsMainBranch</td>
                        <td>
                            <button class="btn btn-warning btn-sm" 
                                @onclick="() => EditBranch(branch.Id)"
                                disabled=@(!AuthState.User.Claims.Any(c => c.Value == $"{PermissionList.BranchPermissions.Edit}"))>@SharedDataService.SelectViewLang("Edit", "تعديل")</button>
                            <button class="btn btn-danger btn-sm" 
                                @onclick="() => DeleteBranch(branch)"
                                disabled=@(!AuthState.User.Claims.Any(c => c.Value == $"{PermissionList.BranchPermissions.Delete}"))>@SharedDataService.SelectViewLang("Delete", "حذف")</button>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <div class="d-flex justify-content-end align-items-center mt-3">

        <button class="btn btn-sm btn-secondary"
                @onclick="PrevPage"
                disabled="@(pageIndex == 1)">
            Previous
        </button>

        <span class="mx-3">Page @(pageIndex + 1) of @TotalPages @(TotalPages == 1 ? "" : "Pages")</span>

        <button class="btn btn-sm btn-secondary"
                @onclick="NextPage"
                disabled="@(pageIndex >= TotalPages)">
            Next
        </button>

    </div>
</div>

@code {
    private List<BranchDto> branches = new();
    private Guid? editingBranchId;
    private Guid companyId;
    private bool isEdit = false;
    private AuthenticationState AuthState;
    protected override async Task OnInitializedAsync()
    {
        AuthState = await ((CustomAuthStateProvider)AuthenticationStateProvider).GetAuthenticationStateAsync();
        companyId = Guid.Parse(AuthState.User.Claims.First(c => c.Type == "company_id").Value);

        await LoadBranches();
        // var branchResponse = await BranchService.GetByCompanyIdAsync(companyId);
        // if (branchResponse.IsSuccess)
        // {
        //     branches = branchResponse.Data?.ToList() ?? [];
        // }
    }
    // Branch
    void CreateNew()
    {
        var newItem = new BranchDto()
        {
            Id = Guid.NewGuid()
        };
        newItem.Code = "b";
        branches.Insert(0, newItem);
        editingBranchId = newItem.Id;
        isEdit = false;
    }

    void EditBranch(Guid id)
    {
        editingBranchId = id;
        isEdit = true;
    }
    async Task SaveBranch(BranchDto branch)
    {
        if (branch.Id == editingBranchId && !isEdit)
        {
            //Create new

            Random rnd = new Random();
            branch.Code = branch.NameEng.Substring(0, 1) + rnd.Next(100, 999);
            branch.CompanyId = companyId;

            var bResponse = await BranchService.CreateAsync(branch);
            if (bResponse.IsSuccess)
            {
                //show success
                ToastService.Show(new ToastMessage
                {
                    Message = SharedDataService.SelectViewLang("Branch has been created successfully", "تم انشاء الفرع بنجاح"),
                    Type = "success"
                });

            }
            else
            {
                // how fail
                ToastService.Show(new ToastMessage
                {
                    Message = SharedDataService.SelectViewLang("Error has occured, please try again later", "حدث خطأ، الرجاء المحاولة مرة أخرى"),
                    Type = "error"
                });
            }
        }
        else
        {
            //Edit

            var bresponse = await BranchService.UpdateAsync(branch);
            if (bresponse.IsSuccess)
            {
                //show success
                ToastService.Show(new ToastMessage
                {
                    Message = SharedDataService.SelectViewLang("Branch has been Edited successfully", "تم تعديل الفرع بنجاح"),
                    Type = "success"
                });
            }
            else
            {
                // show  fail
                ToastService.Show(new ToastMessage
                {
                    Message = SharedDataService.SelectViewLang("Error has occured, please try again later", "حدث خطأ، الرجاء المحاولة مرة أخرى"),
                    Type = "error"
                });
            }
        }

        await LoadBranches();
        // var response = await BranchService.GetByCompanyIdAsync(companyId);
        // if (response.IsSuccess)
        // {
        //     branches = response.Data?.ToList() ?? [];
        // }
        editingBranchId = null;
    }

    async Task DeleteBranch(BranchDto branch)
    {
        await ModalService.ShowAsync(new ModalOptions
        {
            Title = SharedDataService.SelectViewLang("Confirm Delete", "تأكيد عملية الحذف"),
            Message = SharedDataService.SelectViewLang($"Are you sure you want to delete this branch: {branch.NameEng}?", $"هل ترغب فعلا في حذف الفرع: {branch.Name}؟"),
            ShowCancel = true,
            OkText = SharedDataService.SelectViewLang("Yes", "نعم"),
            CancelText = SharedDataService.SelectViewLang("No", "لا"),

            OnOk = async () =>
            {
                var brResponse = await BranchService.DeleteAsync(branch.Id);
                if (brResponse.IsSuccess)
                {

                    ToastService.Show(new ToastMessage
                    {
                        Message = SharedDataService.SelectViewLang("Deleted successfully", "تم الحذف بنجاح"),
                        Type = "success"
                    });

                    await LoadBranches();
                    // var response = await BranchService.GetByCompanyIdAsync(companyId);
                    // if (response.IsSuccess)
                    // {
                    //     branches = response.Data?.ToList() ?? [];
                    //     await InvokeAsync(StateHasChanged);
                    // }
                }
                else
                {
                    ToastService.Show(new ToastMessage
                    {
                        Message = SharedDataService.SelectViewLang("Fail to delete the branch", "فشلت عملية الحذف"),
                        Type = "error"
                    });
                }


            }
        });


    }
    async Task CancelEdit()
    {


        //new
        // branch
        var item = branches.FirstOrDefault(x => x.Id == editingBranchId);

        if (item != null && item.Id != Guid.Empty)
        {
            // existing record → keep it
            var brRes = await BranchService.GetByCompanyIdAsync(companyId, 0, 1000);
            if (brRes.IsSuccess)
            {
                branches = brRes.Data?.Data?.ToList() ?? [];
            }
        }
        else
        {
            // new record → remove it
            branches.Remove(item);
        }
        isEdit = false;
        editingBranchId = null;
    }

    #region Table Helpers


    // Searching
    private string searchText = "";

    // Sorting
    private string sortColumn = nameof(BranchDto.Name);
    private bool sortAscending = true;

    // Pagination
    private int pageSize = 5;
    private int pageIndex = 0;
    private async Task LoadBranches()
    {
        // var request = new PaginationRequest(pageIndex, pageSize, searchText);

        var response = await BranchService.GetByCompanyIdAsync(companyId, pageIndex, pageSize);//,searchText);

        if (response.IsSuccess)
        {
            // var result = response.Data!.Data;

            // branches = result.Data.ToList();
            branches = response.Data?.Data.ToList() ?? [];
            // TotalPages = (int)response.Data!.Count;
            TotalPages = (int)Math.Ceiling(response.Data!.Count / (double)pageSize);
        }
    }
    async Task OnPageSizeChanged(ChangeEventArgs e)
    {
        pageSize = int.Parse(e.Value!.ToString()!);
        pageIndex = 0;
        await LoadBranches();
    }
    private IEnumerable<BranchDto> ProcessedBranches =>
    branches
        // 🔍 Search
        .Where(b =>
            string.IsNullOrWhiteSpace(searchText) ||
            (b.Name?.Contains(searchText, StringComparison.OrdinalIgnoreCase) ?? false) ||
            (b.NameEng?.Contains(searchText, StringComparison.OrdinalIgnoreCase) ?? false) ||
            (b.Email?.Contains(searchText, StringComparison.OrdinalIgnoreCase) ?? false)
        )

        // 🎯 Filter
        .Where(b =>
            filterMainBranch == null || b.IsMainBranch == filterMainBranch
        )

        // 🔃 Sorting
        .OrderByDynamic(sortColumn, sortAscending)

        // 📄 Pagination
        .Skip((pageIndex) * pageSize)
        .Take(pageSize);



    // Filtering example
    private bool? filterMainBranch = null;
    // private long totalCount = 0;
    private int TotalPages = 1;
    // private int TotalPages =>
    // (int)Math.Ceiling(
    //     totalCount/ (double)pageSize);

    async Task NextPage()
    {
        // if (currentPage < TotalPages)
        //     currentPage++;

        if (pageIndex < TotalPages - 1)
        {
            pageIndex++;
            await LoadBranches();
        }
    }

    async Task PrevPage()
    {
        // if (pageIndex > 1)
        //     pageIndex--;
        
        if (pageIndex > 0)
        {
            pageIndex--;
            await LoadBranches();
        }
    }

    void Sort(string column)
    {
        if (sortColumn == column)
            sortAscending = !sortAscending;
        else
        {
            sortColumn = column;
            sortAscending = true;
        }
    }
    #endregion Table helpers

}
