@using AlAfkarERP.Shared.Utilities
@inject SharedDataService SharedDataService
@inject NavigationManager NavigationManager

<div class="bg-dark text-white d-flex flex-column p-2" style="width: 250px;">

    <!-- Logo -->
    <div class="text-center mb-3">
        <h5 class="fw-bold">ERP System</h5>
    </div>

    <!-- Menu -->
    <ul class="nav nav-pills flex-column">

        <li class="nav-item">
            <NavLink href="/" class="nav-link text-white" Match="NavLinkMatch.All">
                <i class="bi bi-house-door me-2"></i>
                @SharedDataService.SelectViewLang("Home", "الرئيسية")
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink href="/Dashboard" class="nav-link text-white">
                <i class="bi bi-speedometer2 me-2"></i>
                @SharedDataService.SelectViewLang("Control Panel", "لوحة التحكم")
            </NavLink>
        </li>
        
        <li class="nav-item">
            <NavLink href="/Organization/Dashboard" class="nav-link text-white">
                <i class="bi bi-diagram-3 me-2"></i>
                @(SharedDataService.SelectViewLang("Company", "الشركة"))
            </NavLink>
        </li>

        <li class="nav-item">
            <NavLink href="/Organization/Dashboard" class="nav-link text-white">
                <i class="bi bi-diagram-3 me-2"></i>
                @(SharedDataService.SelectViewLang("Master Data", "البيانات الأساسية"))
            </NavLink>
        </li>

        <li class="nav-item">
            <NavLink href="/Organization/Dashboard" class="nav-link text-white">
                <i class="bi bi-diagram-3 me-2"></i>
                @(SharedDataService.SelectViewLang("Organizational Structure", "الهيكل التنظيمي"))
            </NavLink>
        </li>

        <li class="nav-item">
            <NavLink href="/Employee/Dashboard" class="nav-link text-white">
                <i class="bi bi-people me-2"></i>
                @(SharedDataService.SelectViewLang("Human Resource", "الموارد البشرية"))
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink href="/Warehouse/Dashboard" class="nav-link text-white">
                <i class="bi bi-people me-2"></i>
                @(SharedDataService.SelectViewLang("Inventory", "المستودعات"))
            </NavLink>
        </li>
        
        <li class="nav-item">
            <NavLink href="/Auth/Dashboard" class="nav-link text-white">
                <i class="bi bi-shield-lock me-2"></i>
                @SharedDataService.SelectViewLang("Security Management", "إدارة الآمان")
            </NavLink>
        </li>

        
    </ul>

</div>

@code {
    protected override void OnInitialized()
    {
        SharedDataService.OnChange1 += HandleChangeAsync;
    }

    private async Task HandleChangeAsync()
    {
        await InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        SharedDataService.OnChange1 -= HandleChangeAsync;
    }
}