@layout Organization.Layout.OrganizationLayout
@page "/Organization/Administration/List"
@using AlAfkarERP.Shared.Pages.Features.Auth.Dtos
@using AlAfkarERP.Shared.Pages.Features.Company.Services
@* @using AlAfkarERP.Shared.Pages.Reuable *@
@using AlAfkarERP.Shared.Pages.Reuable
@using AlAfkarERP.Shared.Pages.Reuable2
@using AlAfkarERP.Shared.Services.Auth
@using AlAfkarERP.Shared.Utilities
@using Microsoft.AspNetCore.Components.Authorization
@using SharedWithUI.Permissions


@inject IBranchService BranchService
@inject IAdministrationService AdministrationService
@inject IAuthService AuthService
@inject ToastService ToastService
@inject ModalService ModalService

@inject AuthenticationStateProvider AuthenticationStateProvider


@inject NavigationManager NavigationManager
@inject SharedDataService SharedDataService


<!-- Branches -->
<h5>@SharedDataService.SelectViewLang("Administrations Management", "ادارة الإدارات")</h5>

@* <button class="btn btn-sm btn-primary mb-2" @onclick="CreateNew">+ Add Branch</button> *@
<div>
    <div class="mb-3">
        <label for="Products" class="form-label">@(SharedDataService.Language == "Ar" ? "اختر الفرع" : "Select Branch")</label>
        <AutoCompleteComponent TItem="BranchDto"
                               Items="branches"
                               Value="selectedBranch"
                               ItemText='(p=> SharedDataService.Language=="Ar"? p.Name:p.NameEng)'
                               ValueChanged="OnBranchSelected">
        </AutoCompleteComponent>
    </div>
</div>
<button class="btn btn-primary mb-3"
        @onclick="CreateNew"
        disabled=@(!AuthState.User.Claims.Any(c => c.Value == $"{PermissionList.BrandPermissions.Create}") ? true : false)>
    <i class="bi bi-file-earmark-plus-fill"></i> @(SharedDataService.Language == "Ar" ? "إضافة جديد" : "Create New")
</button>

<div class="card p-3 mb-3">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <!--

        Export to xls and pdf
        <div class="d-flex gap-2">

            <button class="btn btn-success btn-sm" @onclick="ExportToExcel">
                <i class="bi bi-file-earmark-excel"></i> Excel
            </button>

            <button class="btn btn-danger btn-sm" @onclick="ExportToPdf">
                <i class="bi bi-file-earmark-pdf"></i> PDF
            </button>

        </div>
        -->
        <!-- 🔍 Search -->
        <div>
            <input class="form-control"
                   placeholder="Search..."
                   @bind="searchText" />
        </div>

        <!--

        🎯 Filter
        <div class="col-md-3">
            <select class="form-select" @bind="filterMainBranch">
                <option value="">All</option>
                <option value="true">Main Branch</option>
                <option value="false">Not Main</option>
            </select>
        </div>
        -->
        <!-- 📄 Page Size -->
        <div>
            @* <select class="form-select" @bind="pageSize"> *@
            <select class="form-select" @onchange="OnPageSizeChanged">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="20">20</option>
            </select>
        </div>

    </div>
    <table class="table">
        <thead>
            <tr>
                <th @onclick="() => Sort(nameof(AdministrationDto.Name))">
                    <span class="@(sortAscending ? "bi bi-arrow-up" : "bi bi-arrow-down")"></span>
                    Name
                </th>
                <th @onclick="() => Sort(nameof(AdministrationDto.NameEng))">NameEng</th>
                @* <th @onclick="() => Sort(nameof(AdministrationDto.BranchId))">Branch</th> *@
                <th @onclick="() => Sort(nameof(AdministrationDto.ManagerId))">Manager</th>
                <th>@SharedDataService.SelectViewLang("IsActive?", "فعال؟")</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var admin in ProcessedAdministrations)
            {
                @if (editingAdministrationId == admin.Id)
                
                {
                    <tr>
                        <td colspan="4">
                            <EditForm Model="admin" OnValidSubmit="async () => await SaveAdministration(admin)">
                                <DataAnnotationsValidator />
                                <ValidationSummary />
                                <div class="row bg-info-subtle p-3">

                                    

                                    <div class="mb-3 row">
                                        <label for="inputFirstName" class="col-sm-2 col-form-label">@SharedDataService.SelectViewLang("Name", "الاسم")</label>
                                        <div class="col-sm-10">
                                            
                                            <InputText class="form-control" @bind-Value="admin.Name" />
                                            <ValidationMessage For="() => admin.Name" />

                                        </div>
                                    </div>

                                    <div class="mb-3 row">
                                        <label for="inputFirstName" class="col-sm-2 col-form-label">@SharedDataService.SelectViewLang("Name (En)", "الاسم (انجليزي)")</label>
                                        <div class="col-sm-10">
                                            <InputText class="form-control" @bind-Value="admin.NameEng" />
                                            <ValidationMessage For="() => admin.NameEng" />
                                        </div>
                                    </div>

                                    <div class="mb-3 row">
                                        <label for="inputFirstName" class="col-sm-2 col-form-label">@SharedDataService.SelectViewLang("Manager", "مدير الادارة")</label>
                                        <div class="col-sm-10">
                                            <AutoCompleteComponent TItem="UserDto"
                                                                   Items="users"
                                                                   Value="manager"
                                                                   PlaceHolder="search manager ..."
                                                                   ItemText='(p=> p.UserName)'
                                                                   ValueChanged="OnUserSelected">
                                            </AutoCompleteComponent>
                                        
                                        </div>
                                    </div>
                                    
                                    <div class="mb-3 row">
                                        <label for="inputFirstName" class="col-sm-2 col-form-label">@SharedDataService.SelectViewLang("Active?", "فعال؟")</label>
                                        <div class="col-sm-10">
                                            <InputCheckbox class="form-check-input" @bind-Value="admin.IsActive" />
                                        </div>
                                    </div>
                                    
                                    <div class="col">
                                        <button type="submit" class="btn btn-success btn-sm">Save</button>
                                        <button type="button" class="btn btn-secondary btn-sm" @onclick="CancelEdit">Cancel</button>
                                    </div>
                                </div>
                            </EditForm>
                        </td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td>@admin.Name</td>
                        <td>@admin.NameEng</td>
                        @* <td>@admin.BranchId</td> *@
                        <td>@(users.FirstOrDefault(u => u.Id == admin.ManagerId)?.UserName ?? "")</td>
                        <td>@admin.IsActive</td>
                        <td>
                            <button class="btn btn-warning btn-sm" @onclick="() => EditAdministration(admin)">@SharedDataService.SelectViewLang("Edit", "تعديل")</button>
                            <button class="btn btn-danger btn-sm" @onclick="() => DeleteAdministration(admin)">@SharedDataService.SelectViewLang("Delete", "حذف")</button>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <div class="d-flex justify-content-end align-items-center mt-3">

        <button class="btn btn-sm btn-secondary"
                @onclick="PrevPage"
                disabled="@(pageIndex == 1)">
            Previous
        </button>

        <span class="mx-3">Page @(pageIndex + 1) of @TotalPages @(TotalPages == 1 ? "" : "Pages")</span>

        <button class="btn btn-sm btn-secondary"
                @onclick="NextPage"
                disabled="@(pageIndex >= TotalPages)">
            Next
        </button>

    </div>
</div>

@code {
    private List<BranchDto> branches = new();
    private List<AdministrationDto> administrations = new();
    private List<UserDto> users = [];
    private UserDto? manager = new();
    private Guid? editingAdministrationId;
    // private Guid? newAdministrationId;
    private bool isEdit = false;
    private Guid companyId;
    private AuthenticationState AuthState;
    protected override async Task OnInitializedAsync()
    {
        AuthState = await ((CustomAuthStateProvider)AuthenticationStateProvider).GetAuthenticationStateAsync();
        companyId = Guid.Parse(AuthState.User.Claims.First(c => c.Type == "company_id").Value);

        var userResponse = await AuthService.GetAsync(0, 100);
        if (userResponse.IsSuccess)
        {
            users = userResponse.Data?.Data?.ToList() ?? [];
        }

        // await LoadBranches();
        var branchResponse = await BranchService.GetByCompanyIdAsync(companyId, 0, 1000);
        if (branchResponse.IsSuccess)
        {
            branches = branchResponse.Data?.Data?.ToList() ?? [];
        }
    }
    BranchDto selectedBranch = new();
    private async Task OnBranchSelected(BranchDto branch)
    {
        selectedBranch = branch;
        if (selectedBranch != null && selectedBranch.Id != Guid.Empty)
        {


            await LoadAdministrations();
            StateHasChanged();
        }
    }

    private async Task OnUserSelected(UserDto? user)
    {
        manager = user;


        StateHasChanged();
    }


    // Branch
    async Task CreateNew()
    {

        if (selectedBranch == null || selectedBranch.Id == Guid.Empty)
        {
            await ModalService.ShowAsync(new ModalOptions
            {
                Title = SharedDataService.SelectViewLang("Create New", "إضافة"),
                Message = SharedDataService.SelectViewLang($"Please select branch first", $"يرجى اختيار الفرع اولا"),
                // ShowCancel = true,
                // OkText = SharedDataService.SelectViewLang("Yes", "نعم"),
                // CancelText = SharedDataService.SelectViewLang("No", "لا"),

                OnOk = async () =>
                {



                }
            });

            return;
        }
        isEdit = false;
        var newItem = new AdministrationDto()
        {
            Id = Guid.NewGuid(),
            BranchId = selectedBranch.Id
        };
        administrations.Insert(0, newItem);
        editingAdministrationId = newItem.Id;
    }


    void EditAdministration(AdministrationDto admin)
    {
        isEdit = true;

        editingAdministrationId = admin.Id;
        manager = users?.FirstOrDefault(u => u.Id == admin.ManagerId) ?? null;
    }

    async Task SaveAdministration(AdministrationDto admin)
    {
        if (manager is null)
        {
            admin.ManagerId = null;
        }
        if (admin.Id == editingAdministrationId && !isEdit)
        {
            Random rnd = new Random();
            admin.Code = admin.NameEng.Substring(0, 1) + rnd.Next(100, 999);
            admin.CompanyId = companyId;
            admin.BranchId = selectedBranch?.Id ?? null;
            admin.ManagerId = manager?.Id ?? null;
            var bResponse = await AdministrationService.CreateAsync(admin);
            if (bResponse.IsSuccess)
            {
                //show success
                ToastService.Show(new ToastMessage
                {
                    Message = SharedDataService.SelectViewLang("Administration has been created successfully", "تم انشاء الإدارة بنجاح"),
                    Type = "success"
                });
                isEdit = false;
            }
            else
            {
                // how fail
                ToastService.Show(new ToastMessage
                {
                    Message = SharedDataService.SelectViewLang("Error has occured, please try again later", "حدث خطأ، الرجاء المحاولة مرة أخرى"),
                    Type = "error"
                });
                return;
            }
        }
        else
        {
            //Update
            if (manager != null && manager.Id != Guid.Empty && admin.ManagerId != manager.Id)
            {
                admin.ManagerId = manager?.Id ?? null;
            }
            var bresponse = await AdministrationService.UpdateAsync(admin);
            if (bresponse.IsSuccess)
            {
                //show success
                ToastService.Show(new ToastMessage
                {
                    Message = SharedDataService.SelectViewLang("Administration has been Edited successfully", "تم تعديل الإدارة بنجاح"),
                    Type = "success"
                });
                isEdit = false;
            }
            else
            {

                // show  fail
                ToastService.Show(new ToastMessage
                {
                    Message = SharedDataService.SelectViewLang("Error has occured, please try again later", "حدث خطأ، الرجاء المحاولة مرة أخرى"),
                    Type = "error"
                });
                return;
            }
        }

        await LoadAdministrations();
        // var response = await BranchService.GetByCompanyIdAsync(companyId);
        // if (response.IsSuccess)
        // {
        //     branches = response.Data?.ToList() ?? [];
        // }
        editingAdministrationId = null;
        // newAdministrationId = null;
        isEdit = false;
        StateHasChanged();
    }

    async Task DeleteAdministration(AdministrationDto admin)
    {
        await ModalService.ShowAsync(new ModalOptions
        {
            Title = SharedDataService.SelectViewLang("Confirm Delete", "تأكيد عملية الحذف"),
            Message = SharedDataService.SelectViewLang($"Are you sure you want to delete this administration: {admin.NameEng}?", $"هل ترغب فعلا في حذف الإدارة: {admin.Name}؟"),
            ShowCancel = true,
            OkText = SharedDataService.SelectViewLang("Yes", "نعم"),
            CancelText = SharedDataService.SelectViewLang("No", "لا"),

            OnOk = async () =>
            {
                var adminResponse = await AdministrationService.DeleteAsync(admin.Id);
                if (adminResponse.IsSuccess)
                {

                    ToastService.Show(new ToastMessage
                    {
                        Message = SharedDataService.SelectViewLang("Deleted successfully", "تم الحذف بنجاح"),
                        Type = "success"
                    });

                    await LoadAdministrations();
                    await InvokeAsync(StateHasChanged);
                    // var response = await BranchService.GetByCompanyIdAsync(companyId);
                    // if (response.IsSuccess)
                    // {
                    //     branches = response.Data?.ToList() ?? [];
                    //     await InvokeAsync(StateHasChanged);
                    // }
                }
                else
                {
                    ToastService.Show(new ToastMessage
                    {
                        Message = SharedDataService.SelectViewLang("Fail to delete the Administration", "فشلت عملية الحذف"),
                        Type = "error"
                    });
                }


            }
        });


    }
    async Task CancelEdit()
    {

        //new
        isEdit = false;
        if (selectedBranch == null || selectedBranch.Id == Guid.Empty)
        {
            administrations = [];
            return;
        }
        var item = administrations.FirstOrDefault(x => x.Id == editingAdministrationId);
        if (item != null && isEdit)
        {
            var adminRes = await AdministrationService.GetByBranchAsync(selectedBranch.Id, 0, 1000);
            if (adminRes.IsSuccess)
            {
                administrations = adminRes.Data?.Data?.ToList() ?? [];
            }
        }
        else
        {
            // new record → remove it
            administrations.Remove(item);
        }
        editingAdministrationId = null;
        // newAdministrationId = null;
    }

    #region Table Helpers


    // Searching
    private string searchText = "";

    // Sorting
    private string sortColumn = nameof(BranchDto.Name);
    private bool sortAscending = true;

    // Pagination
    private int pageSize = 5;
    private int pageIndex = 0;
    private async Task LoadAdministrations()
    {
        TotalPages = 0;
        if (selectedBranch == null || selectedBranch.Id == Guid.Empty)
        {
            administrations = [];
            return;
        }


        var response = await AdministrationService.GetByBranchAsync(selectedBranch.Id, pageIndex, pageSize);//,searchText);

        if (response.IsSuccess)
        {
            // var result = response.Data!.Data;

            // branches = result.Data.ToList();
            administrations = response.Data?.Data.ToList() ?? [];
            // TotalPages = (int)response.Data!.Count;
            TotalPages = (int)Math.Ceiling(response.Data!.Count / (double)pageSize);
        }
    }
    async Task OnPageSizeChanged(ChangeEventArgs e)
    {
        pageSize = int.Parse(e.Value!.ToString()!);
        pageIndex = 0;
        await LoadAdministrations();
    }
    private IEnumerable<AdministrationDto> ProcessedAdministrations =>
    administrations
        // 🔍 Search
        .Where(b =>
            string.IsNullOrWhiteSpace(searchText) ||
            (b.Name?.Contains(searchText, StringComparison.OrdinalIgnoreCase) ?? false) ||
            (b.NameEng?.Contains(searchText, StringComparison.OrdinalIgnoreCase) ?? false)
        // (b.Email?.Contains(searchText, StringComparison.OrdinalIgnoreCase) ?? false)
        )

        // 🎯 Filter
        // .Where(b =>
        //     filterMainBranch == null || b.IsMainBranch == filterMainBranch
        // )

        // 🔃 Sorting
        .OrderByDynamic(sortColumn, sortAscending)

        // 📄 Pagination
        .Skip((pageIndex) * pageSize)
        .Take(pageSize);



    // Filtering example
    private bool? filterMainBranch = null;
    // private long totalCount = 0;
    private int TotalPages = 1;
    // private int TotalPages =>
    // (int)Math.Ceiling(
    //     totalCount/ (double)pageSize);

    async Task NextPage()
    {
        // if (currentPage < TotalPages)
        //     currentPage++;

        if (pageIndex < TotalPages - 1)
        {
            pageIndex++;
            await LoadAdministrations();
        }
    }

    async Task PrevPage()
    {
        // if (pageIndex > 1)
        //     pageIndex--;
        
        if (pageIndex > 0)
        {
            pageIndex--;
            await LoadAdministrations();
        }
    }

    void Sort(string column)
    {
        if (sortColumn == column)
            sortAscending = !sortAscending;
        else
        {
            sortColumn = column;
            sortAscending = true;
        }
    }
    #endregion Table helpers

}
