@layout AdminLayout
@page "/Catalog/Product/List"



@using AlAfkarERP.Shared.Pages.Features.Catalog.Services
@using AlAfkarERP.Shared.Pages.Reuable2
@using AlAfkarERP.Shared.Utilities
@using Microsoft.AspNetCore.Components.Authorization
@using SharedWithUI.Catalog.Dtos
@using SharedWithUI.Permissions


@inject IProductService ProductService
@inject IUnitService UnitService
@inject ICategoryService CategoryService
@inject ToastService ToastService
@inject ModalService ModalService
@inject LoadingService LoadingService
@inject AuthenticationStateProvider AuthenticationStateProvider


@inject NavigationManager NavigationManager
@inject SharedDataService SharedDataService

@if (!AuthState.User.Claims.Any(c => c.Value == $"{PermissionList.ProductPermissions.View}"))
{
    <div class="alert alert-warning">
        <span>@SharedDataService.SelectViewLang("You don't have permissions to view this page", "ليس لديك الصلاحية لعرض هذه الصفحة")</span>
    </div>
    return;
}

<!-- Branches -->
<h5>@SharedDataService.SelectViewLang("Products Management", "ادارة المنتجات")</h5>

@* <button class="btn btn-sm btn-primary mb-2" @onclick="CreateNew">+ Add Branch</button> *@
<button class="btn btn-primary mb-3"
        @onclick="CreateNew"
        disabled=@(!AuthState.User.Claims.Any(c => c.Value == $"{PermissionList.ProductPermissions.Create}") ? true : false)>
    <i class="bi bi-file-earmark-plus-fill"></i> @(SharedDataService.Language == "Ar" ? "إضافة جديد" : "Create New")
</button>

<div class="card p-3 mb-3">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <!--

        Export to xls and pdf
        <div class="d-flex gap-2">

            <button class="btn btn-success btn-sm" @onclick="ExportToExcel">
                <i class="bi bi-file-earmark-excel"></i> Excel
            </button>

            <button class="btn btn-danger btn-sm" @onclick="ExportToPdf">
                <i class="bi bi-file-earmark-pdf"></i> PDF
            </button>

        </div>
        -->
        <!-- 🔍 Search -->
        <div>
            <input class="form-control"
                   placeholder="Search..."
                   @bind="searchText" />
        </div>

        <!--

        🎯 Filter
        <div class="col-md-3">
            <select class="form-select" @bind="filterMainBranch">
                <option value="">All</option>
                <option value="true">Main Branch</option>
                <option value="false">Not Main</option>
            </select>
        </div>
        -->
        <!-- 📄 Page Size -->
        <div>
            @* <select class="form-select" @bind="pageSize"> *@
            <select class="form-select" @onchange="OnPageSizeChanged">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
        </div>

    </div>
    <table class="table">
        <thead>
            <tr>
                <th @onclick="() => Sort(nameof(ProductDto.Name))">
                    <span class="@(sortAscending ? "bi bi-arrow-up" : "bi bi-arrow-down")"></span>
                    @SharedDataService.SelectViewLang("Name", "الاسم")
                </th>
                <th @onclick="() => Sort(nameof(ProductDto.NameEng))">@SharedDataService.SelectViewLang("NameEng", "الاسم بالانجليزية")</th>
                <th @onclick="() => Sort(nameof(ProductDto.CategoryName))">@SharedDataService.SelectViewLang("category", "الصنف")</th>
                <th @onclick="() => Sort(nameof(ProductDto.UnitName))">@SharedDataService.SelectViewLang("Unit", "الوحدة")</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @* @foreach (var b in branches) *@
            @if (editingProductId != null)
            {
                var editingItem = products.FirstOrDefault(x => x.Id == editingProductId);
                if (editingItem != null)
                {
                    <tr>
                        
                        <td colspan="5">
                            <EditForm Model="editingItem" OnValidSubmit="() => SaveProduct(editingItem)">
                                <DataAnnotationsValidator />
                                <ValidationSummary />
                                @* <InputHidden @bind-Value="branch.Id"/> *@
                                <div class="row bg-info-subtle p-3">

                                    <div class="mb-3 row">
                                        <label for="inputFirstName" class="col-sm-2 col-form-label">@SharedDataService.SelectViewLang("Name", "الاسم")</label>
                                        <div class="col-sm-10">
                                            <InputText class="form-control" @bind-Value="editingItem.Name" />
                                            <ValidationMessage For="() => editingItem.Name" />
                                        </div>
                                    </div>

                                    <div class="mb-3 row">
                                        <label for="inputFirstName" class="col-sm-2 col-form-label">@SharedDataService.SelectViewLang("Name (En)", "الاسم (انجليزي)")</label>
                                        <div class="col-sm-10">
                                            <InputText class="form-control" @bind-Value="editingItem.NameEng" />
                                            <ValidationMessage For="() => editingItem.NameEng" />
                                        </div>
                                    </div>

                                    <!--Category-->
                                    <div class="mb-3 row">
                                        <label for="inputFirstName" class="col-sm-2 col-form-label">
                                            @SharedDataService.SelectViewLang("Category", "الصنف")
                                        </label>
                                        <div class="col-sm-10">
                                            <AutoCompleteComponent TItem="CategoryDto"
                                                                   Items="categories"
                                                                   ItemText="(p=> SharedDataService.SelectViewLang(p.NameEng,p.Name))"
                                                                   PlaceHolder="@(SharedDataService.SelectViewLang("search a category","ابحث عن صنف"))"
                                                                   Value="selectedCategory"
                                                                   ValueChanged="onCategorySelected" />
                                        </div>
                                    </div>

                                    <!--Unit-->
                                    <div class="mb-3 row">
                                        <label for="inputFirstName" class="col-sm-2 col-form-label">
                                            @SharedDataService.SelectViewLang("Unit", "الوحدة")
                                        </label>
                                        <div class="col-sm-10">
                                            <AutoCompleteComponent TItem="UnitDto"
                                                                   Items="units"
                                                                   ItemText="(u=> SharedDataService.SelectViewLang(u.UnitNameEng,u.UnitName))"
                                                                   PlaceHolder="@(SharedDataService.SelectViewLang("search a unit","ابحث عن وحدة"))"
                                                                   Value="selectedUnit"
                                                                   ValueChanged="onUnitSelected" />
                                        </div>
                                    </div>

                                    <div class="col">
                                        <button type="submit" class="btn btn-success btn-sm">Save</button>
                                        <button type="button" class="btn btn-secondary btn-sm" @onclick="CancelEdit">Cancel</button>
                                    </div>
                                </div>
                            </EditForm>
                        </td>
                    </tr>
                }
                <tr>
                </tr>
            }
            @foreach (var unit in ProcessedProducts.Where(x => x.Id != editingProductId))
            {
                @* @if(0==2){}
                else
                }
                { *@
                <tr>
                    <td>@unit.Name</td>
                    <td>@unit.NameEng</td>
                    <td>@unit.CategoryName</td>
                    <td>@unit.UnitName</td>
                    <td>
                        <button class="btn btn-warning btn-sm"
                                @onclick="() => EditProduct(unit.Id)"
                                disabled=@(!AuthState.User.Claims.Any(c => c.Value == $"{PermissionList.ProductPermissions.Edit}"))>
                            @SharedDataService.SelectViewLang("Edit", "تعديل")
                        </button>
                        <button class="btn btn-danger btn-sm"
                                @onclick="() => DeleteProduct(unit)"
                                disabled=@(!AuthState.User.Claims.Any(c => c.Value == $"{PermissionList.ProductPermissions.Delete}"))>
                            @SharedDataService.SelectViewLang("Delete", "حذف")
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="d-flex justify-content-end align-items-center mt-3">

        <button class="btn btn-sm btn-secondary"
                @onclick="PrevPage"
                disabled="@(pageIndex == 0)">
            Previous
        </button>

        <span class="mx-3">Page @(pageIndex + 1) of @TotalPages @(TotalPages == 1 ? "" : "Pages")</span>

        <button class="btn btn-sm btn-secondary"
                @onclick="NextPage"
                disabled="@(pageIndex >= TotalPages)">
            Next
        </button>

    </div>
</div>

@code {
    private List<ProductDto> products = new();
    private Guid? editingProductId;
    private Guid companyId;
    private bool isEdit = false;
    private List<UnitDto> units = [];
    private UnitDto? selectedUnit ;
    private List<CategoryDto> categories = [];
    private CategoryDto? selectedCategory ;
    private AuthenticationState AuthState;
    protected override async Task OnInitializedAsync()
    {
        LoadingService.Show();

        AuthState = await ((CustomAuthStateProvider)AuthenticationStateProvider).GetAuthenticationStateAsync();
        if (!AuthState.User.Identity.IsAuthenticated)
        {
            NavigationManager.NavigateTo("/login", true);

        }
        companyId = Guid.Parse(AuthState.User.Claims.First(c => c.Type == "company_id").Value);


        var catRes = await CategoryService.GetByCompanyIdAsync(companyId, 0, 1000);
        if (catRes.IsSuccess)
        {
            categories = catRes.Data?.Data?.ToList() ?? [];
        }

        var unitRes = await UnitService.GetByCompanyAsync(companyId, 0, 1000);
        if (unitRes.IsSuccess)
        {
            units = unitRes.Data?.Data?.ToList() ?? [];
        }

        await LoadProduct();
        LoadingService.Hide();
    }
    // Branch
    void CreateNew()
    {
        var newItem = new ProductDto()
        {
            Id = Guid.NewGuid(),
            CompanyId = companyId,
            //CategoryId=Guid.NewGuid(),//categories.Any()?categories[0].Id:Guid.NewGuid(),
            //UnitId=Guid.NewGuid()//units.Any()? units[0].Id:Guid.NewGuid()
        };
        products.Insert(0, newItem);
        editingProductId = newItem.Id;
        isEdit = false;
    }

    void EditProduct(Guid id)
    {
        editingProductId = id;
        var editingItem = products.FirstOrDefault(p => p.Id == id);
        if (editingItem != null)
        {
            selectedCategory = categories.FirstOrDefault(x => x.Id == editingItem.CategoryId) ?? new();
            selectedUnit = units.FirstOrDefault(u => u.Id == editingItem.UnitId) ?? new();
        }

        isEdit = true;
        StateHasChanged();
    }
    async Task SaveProduct(ProductDto prod)
    {
        LoadingService.Show();

        if(selectedCategory==null || selectedCategory.Id==Guid.Empty || selectedUnit==null || selectedUnit.Id == Guid.Empty)
        {
            await ModalService.ShowAsync(new ModalOptions
                {
                    Title = SharedDataService.SelectViewLang("Create Product", "إنشاء منتج"),
                    IsError=true,
                    Message=SharedDataService.SelectViewLang("Please select product's category and unit","يرجى اختيار الصنف والوحدة"),
                    OnOk=async()=> { }
                });
                LoadingService.Hide();
                return;
        }
        prod.CategoryId = selectedCategory.Id;
        prod.UnitId = selectedUnit.Id;

        if (prod.Id == editingProductId && !isEdit)
        {
            //Create new

            prod.CompanyId = companyId;

            var bResponse = await ProductService.CreateAsync(prod);
            if (bResponse.IsSuccess)
            {
                //show success
                ToastService.Show(new ToastMessage
                {
                    Message = SharedDataService.SelectViewLang("Product has been created successfully", "تم إنشاء المنتج بنجاح"),
                    Type = "success"
                });
            }
            else
            {
                // how fail
                ToastService.Show(new ToastMessage
                {
                    Message = SharedDataService.SelectViewLang("Error has occured, please try again later", "حدث خطأ، الرجاء المحاولة مرة أخرى"),
                    Type = "error"
                });
            }
        }
        else
        {
            //Edit

            var bresponse = await ProductService.UpdateAsync(prod);
            if (bresponse.IsSuccess)
            {
                //show success
                ToastService.Show(new ToastMessage
                {
                    Message = SharedDataService.SelectViewLang("Product has been Edited successfully", "تم تعديل المنتج بنجاح"),
                    Type = "success"
                });
            }
            else
            {
                // show  fail
                ToastService.Show(new ToastMessage
                {
                    Message = SharedDataService.SelectViewLang("Error has occured, please try again later", "حدث خطأ، الرجاء المحاولة مرة أخرى"),
                    Type = "error"
                });
            }
        }

        await LoadProduct();

        editingProductId = null;
        await InvokeAsync(StateHasChanged);
        LoadingService.Hide();

    }

    async Task DeleteProduct(ProductDto product)
    {
        LoadingService.Show();
        await ModalService.ShowAsync(new ModalOptions
        {
            Title = SharedDataService.SelectViewLang("Confirm Delete", "تأكيد عملية الحذف"),
            Message = SharedDataService.SelectViewLang($"Are you sure you want to delete this Product: {product.NameEng}?",
            $"هل ترغب فعلا في حذف المنتج: {product.Name}؟"),
            ShowCancel = true,
            OkText = SharedDataService.SelectViewLang("Yes", "نعم"),
            CancelText = SharedDataService.SelectViewLang("No", "لا"),

            OnOk = async () =>
            {
                var brResponse = await ProductService.DeleteAsync(product.Id);
                if (brResponse.IsSuccess)
                {

                    ToastService.Show(new ToastMessage
                    {
                        Message = SharedDataService.SelectViewLang("Deleted successfully", "تم الحذف بنجاح"),
                        Type = "success"
                    });

                    await LoadProduct();

                    await InvokeAsync(StateHasChanged);
                }
                else
                {
                    ToastService.Show(new ToastMessage
                    {
                        Message = SharedDataService.SelectViewLang("Fail to delete the Product", "فشلت عملية الحذف"),
                        Type = "error"
                    });
                }


            }
        });

        LoadingService.Hide();
    }
    async Task CancelEdit()
    {


        //new
        // branch
        var item = products.FirstOrDefault(x => x.Id == editingProductId);

        if (item != null && item.Id != Guid.Empty)
        {
            // existing record → keep it
            await LoadProduct();
            // var brRes = await ProductService.GetByCompanyAsync(companyId, 0, 1000);
            // if (brRes.IsSuccess)
            // {
            //     products = brRes.Data?.Data?.ToList() ?? [];
            // }
        }
        else
        {
            // new record → remove it
            products.Remove(item);
        }
        isEdit = false;
        editingProductId = null;
    }

    #region Table Helpers


    // Searching
    private string searchText = "";

    // Sorting
    private string sortColumn = nameof(ProductDto.Name);
    private bool sortAscending = true;

    // Pagination
    private int pageSize = 5;
    private int pageIndex = 0;
    private async Task LoadProduct()
    {
        // var request = new PaginationRequest(pageIndex, pageSize, searchText);

        var response = await ProductService.GetByCompanyAsync(companyId, pageIndex, pageSize);//,searchText);

        if (response.IsSuccess)
        {
            // var result = response.Data!.Data;

            // branches = result.Data.ToList();
            products = response.Data?.Data.ToList() ?? [];
            // TotalPages = (int)response.Data!.Count;
            TotalPages = (int)Math.Ceiling(response.Data!.Count / (double)pageSize);
        }
    }
    async Task OnPageSizeChanged(ChangeEventArgs e)
    {
        pageSize = int.Parse(e.Value!.ToString()!);
        pageIndex = 0;
        await LoadProduct();
    }
    private IEnumerable<ProductDto> ProcessedProducts =>
    products
        // 🔍 Search
        .Where(b =>
            string.IsNullOrWhiteSpace(searchText) ||
            (b.UnitName?.Contains(searchText, StringComparison.OrdinalIgnoreCase) ?? false) ||
            (b.UnitNameEng?.Contains(searchText, StringComparison.OrdinalIgnoreCase) ?? false)

        )

        // 🎯 Filter
        // .Where(b =>
        //     filterMainBranch == null || b.IsMainBranch == filterMainBranch
        // )

        // 🔃 Sorting
        .OrderByDynamic(sortColumn, sortAscending);

    // 📄 Pagination
    // .Skip((pageIndex) * pageSize)
    // .Take(pageSize);



    // Filtering example
    // private bool? filterMainBranch = null;
    // private long totalCount = 0;
    private int TotalPages = 1;
    // private int TotalPages =>
    // (int)Math.Ceiling(
    //     totalCount/ (double)pageSize);

    async Task NextPage()
    {
        // if (currentPage < TotalPages)
        //     currentPage++;

        if (pageIndex < TotalPages - 1)
        {
            pageIndex++;
            await LoadProduct();
        }
    }

    async Task PrevPage()
    {
        // if (pageIndex > 1)
        //     pageIndex--;

        if (pageIndex > 0)
        {
            pageIndex--;
            await LoadProduct();
        }
    }

    void Sort(string column)
    {
        if (sortColumn == column)
            sortAscending = !sortAscending;
        else
        {
            sortColumn = column;
            sortAscending = true;
        }
    }
    #endregion Table helpers


    private void onCategorySelected(CategoryDto category)
    {

        selectedCategory =category!=null? category:new();
    }
    private void onUnitSelected(UnitDto unit)
    {
        selectedUnit =unit!=null? unit:new();
        StateHasChanged();
    }
    protected override void OnInitialized()
    {
        SharedDataService.OnChange1 += HandleChangeAsync;
    }

    private async Task HandleChangeAsync()
    {
        await InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        SharedDataService.OnChange1 -= HandleChangeAsync;
    }
}
