@layout ProductLayout
@page "/Warehouse/Product/Unit/List"
@using AlAfkarERP.Shared.Pages.Features.Catalog.Layout


@using AlAfkarERP.Shared.Pages.Features.Catalog.Services
@using AlAfkarERP.Shared.Pages.Reuable2
@using AlAfkarERP.Shared.Utilities
@using Microsoft.AspNetCore.Components.Authorization
@using SharedWithUI.Catalog.Dtos
@using SharedWithUI.Permissions


@inject IUnitService UnitService
@inject ToastService ToastService
@inject ModalService ModalService
@inject LoadingService LoadingService
@inject AuthenticationStateProvider AuthenticationStateProvider


@inject NavigationManager NavigationManager
@inject SharedDataService SharedDataService

@if (!AuthState.User.Claims.Any(c => c.Value == $"{PermissionList.UnitPermissions.Create}"))
{
    <div class="alert alert-warning">
        <span>@SharedDataService.SelectViewLang("You don't have permissions to view this page", "ليس لديك الصلاحية لعرض هذه الصفحة")</span>
    </div>
    return;
}

<!-- Branches -->
<h5>@SharedDataService.SelectViewLang("Unit Management", "ادارة الوحدات")</h5>

@* <button class="btn btn-sm btn-primary mb-2" @onclick="CreateNew">+ Add Branch</button> *@
<button class="btn btn-primary mb-3"
        @onclick="CreateNew"
        disabled=@(!AuthState.User.Claims.Any(c => c.Value == $"{PermissionList.UnitPermissions.Create}") ? true : false)>
    <i class="bi bi-file-earmark-plus-fill"></i> @(SharedDataService.Language == "Ar" ? "إضافة جديد" : "Create New")
</button>

<div class="card p-3 mb-3">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <!--

        Export to xls and pdf
        <div class="d-flex gap-2">

            <button class="btn btn-success btn-sm" @onclick="ExportToExcel">
                <i class="bi bi-file-earmark-excel"></i> Excel
            </button>

            <button class="btn btn-danger btn-sm" @onclick="ExportToPdf">
                <i class="bi bi-file-earmark-pdf"></i> PDF
            </button>

        </div>
        -->
        <!-- 🔍 Search -->
        <div>
            <input class="form-control"
                   placeholder="Search..."
                   @bind="searchText" />
        </div>

        <!--

        🎯 Filter
        <div class="col-md-3">
            <select class="form-select" @bind="filterMainBranch">
                <option value="">All</option>
                <option value="true">Main Branch</option>
                <option value="false">Not Main</option>
            </select>
        </div>
        -->
        <!-- 📄 Page Size -->
        <div>
            @* <select class="form-select" @bind="pageSize"> *@
            <select class="form-select" @onchange="OnPageSizeChanged">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
        </div>

    </div>
    <table class="table">
        <thead>
            <tr>
                <th @onclick="() => Sort(nameof(UnitDto.UnitName))">
                    <span class="@(sortAscending ? "bi bi-arrow-up" : "bi bi-arrow-down")"></span>
                    @SharedDataService.SelectViewLang("Name", "الاسم")
                </th>
                <th @onclick="() => Sort(nameof(UnitDto.UnitNameEng))">@SharedDataService.SelectViewLang("NameEng", "الاسم بالانجليزية")</th>
                <th>@SharedDataService.SelectViewLang("Description", "الوصف")</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @* @foreach (var b in branches) *@
            @if (editingUnitId != null)
            {
                var editingItem = units.FirstOrDefault(x => x.Id == editingUnitId);
                if (editingItem != null)
                {
                    <tr>
                        
                        <td colspan="9">
                            <EditForm Model="editingItem" OnValidSubmit="() => SaveUnit(editingItem)">
                                <DataAnnotationsValidator />
                                <ValidationSummary />
                                @* <InputHidden @bind-Value="branch.Id"/> *@
                                <div class="row bg-info-subtle p-3">

                                    <div class="mb-3 row">
                                        <label for="inputFirstName" class="col-sm-2 col-form-label">@SharedDataService.SelectViewLang("Name", "الاسم")</label>
                                        <div class="col-sm-10">
                                            <InputText class="form-control" @bind-Value="editingItem.UnitName" />
                                            <ValidationMessage For="() => editingItem.UnitName" />
                                        </div>
                                    </div>

                                    <div class="mb-3 row">
                                        <label for="inputFirstName" class="col-sm-2 col-form-label">@SharedDataService.SelectViewLang("Name (En)", "الاسم (انجليزي)")</label>
                                        <div class="col-sm-10">
                                            <InputText class="form-control" @bind-Value="editingItem.UnitNameEng" />
                                            <ValidationMessage For="() => editingItem.UnitNameEng" />
                                        </div>
                                    </div>

                                    <div class="col">
                                        <button type="submit" class="btn btn-success btn-sm">Save</button>
                                        <button type="button" class="btn btn-secondary btn-sm" @onclick="CancelEdit">Cancel</button>
                                    </div>
                                </div>
                            </EditForm>
                        </td>
                    </tr>
                }
                <tr>
                </tr>
            }
            @foreach (var unit in ProcessedUnits.Where(x => x.Id != editingUnitId))
            {
                @* @if(0==2){}
                else
                }
                { *@
                <tr>
                    <td>@unit.UnitName</td>
                    <td>@unit.UnitNameEng</td>
                    <td>
                        <button class="btn btn-warning btn-sm"
                                @onclick="() => EditUnit(unit.Id)"
                                disabled=@(!AuthState.User.Claims.Any(c => c.Value == $"{PermissionList.UnitPermissions.Edit}"))>
                            @SharedDataService.SelectViewLang("Edit", "تعديل")
                        </button>
                        <button class="btn btn-danger btn-sm"
                                @onclick="() => DeleteUnit(unit)"
                                disabled=@(!AuthState.User.Claims.Any(c => c.Value == $"{PermissionList.UnitPermissions.Delete}"))>
                            @SharedDataService.SelectViewLang("Delete", "حذف")
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="d-flex justify-content-end align-items-center mt-3">

        <button class="btn btn-sm btn-secondary"
                @onclick="PrevPage"
                disabled="@(pageIndex == 0)">
            Previous
        </button>

        <span class="mx-3">Page @(pageIndex + 1) of @TotalPages @(TotalPages == 1 ? "" : "Pages")</span>

        <button class="btn btn-sm btn-secondary"
                @onclick="NextPage"
                disabled="@(pageIndex >= TotalPages)">
            Next
        </button>

    </div>
</div>

@code {
    private List<UnitDto> units = new();
    private Guid? editingUnitId;
    private Guid companyId;
    private bool isEdit = false;
    private AuthenticationState AuthState;
    protected override async Task OnInitializedAsync()
    {
        LoadingService.Show();

        AuthState = await ((CustomAuthStateProvider)AuthenticationStateProvider).GetAuthenticationStateAsync();
        if (!AuthState.User.Identity.IsAuthenticated)
        {
            NavigationManager.NavigateTo("/login", true);

        }
        companyId = Guid.Parse(AuthState.User.Claims.First(c => c.Type == "company_id").Value);

        await LoadCategory();
        LoadingService.Hide();
    }
    // Branch
    void CreateNew()
    {
        var newItem = new UnitDto()
        {
            Id = Guid.NewGuid(),
            CompanyId = companyId
        };
        units.Insert(0, newItem);
        editingUnitId = newItem.Id;
        isEdit = false;
    }

    void EditUnit(Guid id)
    {
        editingUnitId = id;
        isEdit = true;
        StateHasChanged();
    }
    async Task SaveUnit(UnitDto unit)
    {
        LoadingService.Show();
        if (unit.Id == editingUnitId && !isEdit)
        {
            //Create new

            unit.CompanyId = companyId;

            var bResponse = await UnitService.CreateAsync(unit);
            if (bResponse.IsSuccess)
            {
                //show success
                ToastService.Show(new ToastMessage
                {
                    Message = SharedDataService.SelectViewLang("Unit has been created successfully", "تم إنشاء الوحدة بنجاح"),
                    Type = "success"
                });
            }
            else
            {
                // how fail
                ToastService.Show(new ToastMessage
                {
                    Message = SharedDataService.SelectViewLang("Error has occured, please try again later", "حدث خطأ، الرجاء المحاولة مرة أخرى"),
                    Type = "error"
                });
            }
        }
        else
        {
            //Edit

            var bresponse = await UnitService.UpdateAsync(unit);
            if (bresponse.IsSuccess)
            {
                //show success
                ToastService.Show(new ToastMessage
                {
                    Message = SharedDataService.SelectViewLang("Unit has been Edited successfully", "تم تعديل الوحدة بنجاح"),
                    Type = "success"
                });
            }
            else
            {
                // show  fail
                ToastService.Show(new ToastMessage
                {
                    Message = SharedDataService.SelectViewLang("Error has occured, please try again later", "حدث خطأ، الرجاء المحاولة مرة أخرى"),
                    Type = "error"
                });
            }
        }

        await LoadCategory();

        editingUnitId = null;
        await InvokeAsync(StateHasChanged);
        LoadingService.Hide();

    }

    async Task DeleteUnit(UnitDto unit)
    {
        LoadingService.Show();
        await ModalService.ShowAsync(new ModalOptions
        {
            Title = SharedDataService.SelectViewLang("Confirm Delete", "تأكيد عملية الحذف"),
            Message = SharedDataService.SelectViewLang($"Are you sure you want to delete this Unit: {unit.UnitNameEng}?",
            $"هل ترغب فعلا في حذف الوحدة: {unit.UnitName}؟"),
            ShowCancel = true,
            OkText = SharedDataService.SelectViewLang("Yes", "نعم"),
            CancelText = SharedDataService.SelectViewLang("No", "لا"),

            OnOk = async () =>
            {
                var brResponse = await UnitService.DeleteAsync(unit.Id);
                if (brResponse.IsSuccess)
                {

                    ToastService.Show(new ToastMessage
                    {
                        Message = SharedDataService.SelectViewLang("Deleted successfully", "تم الحذف بنجاح"),
                        Type = "success"
                    });

                    await LoadCategory();

                    await InvokeAsync(StateHasChanged);
                }
                else
                {
                    ToastService.Show(new ToastMessage
                    {
                        Message = SharedDataService.SelectViewLang("Fail to delete the Unit", "فشلت عملية الحذف"),
                        Type = "error"
                    });
                }


            }
        });

        LoadingService.Hide();
    }
    async Task CancelEdit()
    {


        //new
        // branch
        var item = units.FirstOrDefault(x => x.Id == editingUnitId);

        if (item != null && item.Id != Guid.Empty)
        {
            // existing record → keep it
            var brRes = await UnitService.GetByCompanyAsync(companyId, 0, 1000);
            if (brRes.IsSuccess)
            {
                units = brRes.Data?.Data?.ToList() ?? [];
            }
        }
        else
        {
            // new record → remove it
            units.Remove(item);
        }
        isEdit = false;
        editingUnitId = null;
    }

    #region Table Helpers


    // Searching
    private string searchText = "";

    // Sorting
    private string sortColumn = nameof(UnitDto.UnitName);
    private bool sortAscending = true;

    // Pagination
    private int pageSize = 5;
    private int pageIndex = 0;
    private async Task LoadCategory()
    {
        // var request = new PaginationRequest(pageIndex, pageSize, searchText);

        var response = await UnitService.GetByCompanyAsync(companyId, pageIndex, pageSize);//,searchText);

        if (response.IsSuccess)
        {
            // var result = response.Data!.Data;

            // branches = result.Data.ToList();
            units = response.Data?.Data.ToList() ?? [];
            // TotalPages = (int)response.Data!.Count;
            TotalPages = (int)Math.Ceiling(response.Data!.Count / (double)pageSize);
        }
    }
    async Task OnPageSizeChanged(ChangeEventArgs e)
    {
        pageSize = int.Parse(e.Value!.ToString()!);
        pageIndex = 0;
        await LoadCategory();
    }
    private IEnumerable<UnitDto> ProcessedUnits =>
    units
        // 🔍 Search
        .Where(b =>
            string.IsNullOrWhiteSpace(searchText) ||
            (b.UnitName?.Contains(searchText, StringComparison.OrdinalIgnoreCase) ?? false) ||
            (b.UnitNameEng?.Contains(searchText, StringComparison.OrdinalIgnoreCase) ?? false)

        )

        // 🎯 Filter
        // .Where(b =>
        //     filterMainBranch == null || b.IsMainBranch == filterMainBranch
        // )

        // 🔃 Sorting
        .OrderByDynamic(sortColumn, sortAscending);

        // 📄 Pagination
        // .Skip((pageIndex) * pageSize)
        // .Take(pageSize);



    // Filtering example
    // private bool? filterMainBranch = null;
    // private long totalCount = 0;
    private int TotalPages = 1;
    // private int TotalPages =>
    // (int)Math.Ceiling(
    //     totalCount/ (double)pageSize);

    async Task NextPage()
    {
        // if (currentPage < TotalPages)
        //     currentPage++;

        if (pageIndex < TotalPages - 1)
        {
            pageIndex++;
            await LoadCategory();
        }
    }

    async Task PrevPage()
    {
        // if (pageIndex > 1)
        //     pageIndex--;
        
        if (pageIndex > 0)
        {
            pageIndex--;
            await LoadCategory();
        }
    }

    void Sort(string column)
    {
        if (sortColumn == column)
            sortAscending = !sortAscending;
        else
        {
            sortColumn = column;
            sortAscending = true;
        }
    }
    #endregion Table helpers

    protected override void OnInitialized()
    {
        SharedDataService.OnChange1 += HandleChangeAsync;
    }

    private async Task HandleChangeAsync()
    {
        await InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        SharedDataService.OnChange1 -= HandleChangeAsync;
    }
}
