@layout Organization.Layout.OrganizationLayout
@page "/Organization/Department/List"
@using AlAfkarERP.Shared.Pages.Features.Auth.Dtos
@using AlAfkarERP.Shared.Pages.Features.Company.Services
@* @using AlAfkarERP.Shared.Pages.Reuable *@
@using AlAfkarERP.Shared.Pages.Reuable
@using AlAfkarERP.Shared.Pages.Reuable2
@using AlAfkarERP.Shared.Services.Auth
@using AlAfkarERP.Shared.Utilities
@using Microsoft.AspNetCore.Components.Authorization
@using SharedWithUI.Permissions


@inject IBranchService BranchService
@inject IDepartmentService DepartmentService
@inject IAdministrationService AdministrationService
@inject IAuthService AuthService
@inject ToastService ToastService
@inject ModalService ModalService

@inject AuthenticationStateProvider AuthenticationStateProvider


@inject NavigationManager NavigationManager
@inject SharedDataService SharedDataService


<!-- Branches -->
<h5>@SharedDataService.SelectViewLang("Departments Management", "ادارة الأقسام")</h5>

@* <button class="btn btn-sm btn-primary mb-2" @onclick="CreateNew">+ Add Branch</button> *@
<div>
    <div class="mb-3">
        <label for="Products" class="form-label">@(SharedDataService.Language == "Ar" ? "اختر الفرع" : "Select Branch")</label>
        <AutoCompleteComponent TItem="BranchDto"
                               Items="branches"
                               Value="selectedBranch"
                               ItemText='(p=> SharedDataService.Language=="Ar"? p.Name:p.NameEng)'
                               ValueChanged="OnBranchSelected">
        </AutoCompleteComponent>
    </div>
</div>
<div>
    <div class="mb-3">
        <label for="Products" class="form-label">@(SharedDataService.Language == "Ar" ? "اختر الإدارة" : "Select Administration")</label>
        <AutoCompleteComponent TItem="AdministrationDto"
                               Items="administrations"
                               Value="selectedAdministration"
                               ItemText='(p=> SharedDataService.Language=="Ar"? p.Name:p.NameEng)'
                               ValueChanged="OnAdministrationSelected">
        </AutoCompleteComponent>
    </div>
</div>
<button class="btn btn-primary mb-3"
        @onclick="CreateNew"
        disabled=@(!AuthState.User.Claims.Any(c => c.Value == $"{PermissionList.BrandPermissions.Create}") ? true : false)>
    <i class="bi bi-file-earmark-plus-fill"></i> @(SharedDataService.Language == "Ar" ? "إضافة جديد" : "Create New")
</button>

<div class="card p-3 mb-3">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <!--

        Export to xls and pdf
        <div class="d-flex gap-2">

            <button class="btn btn-success btn-sm" @onclick="ExportToExcel">
                <i class="bi bi-file-earmark-excel"></i> Excel
            </button>

            <button class="btn btn-danger btn-sm" @onclick="ExportToPdf">
                <i class="bi bi-file-earmark-pdf"></i> PDF
            </button>

        </div>
        -->
        <!-- 🔍 Search -->
        <div>
            <input class="form-control"
                   placeholder="Search..."
                   @bind="searchText" />
        </div>

        <!--

        🎯 Filter
        <div class="col-md-3">
            <select class="form-select" @bind="filterMainBranch">
                <option value="">All</option>
                <option value="true">Main Branch</option>
                <option value="false">Not Main</option>
            </select>
        </div>
        -->
        <!-- 📄 Page Size -->
        <div>
            @* <select class="form-select" @bind="pageSize"> *@
            <select class="form-select" @onchange="OnPageSizeChanged">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="20">20</option>
            </select>
        </div>

    </div>
    <table class="table">
        <thead>
            <tr>
                <th @onclick="() => Sort(nameof(DepartmentDto.Name))"><span class=@(sortAscending)?"bi bi-file-earmark-plus-fill":"bi bi-file-earmark-plus")></span> Name</th>
                <th @onclick="() => Sort(nameof(DepartmentDto.NameEng))">NameEng</th>
                @* <th @onclick="() => Sort(nameof(AdministrationDto.BranchId))">Branch</th> *@
                <th @onclick="() => Sort(nameof(DepartmentDto.HeadOfDepartment))">@SharedDataService.SelectViewLang("Head of Dept.", "رئيس القسم")</th>
                <th>@SharedDataService.SelectViewLang("IsActive?", "فعال؟")</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @* @foreach (var b in branches) *@
            @foreach (var dept in ProcessedAdministrations)
            {
                <tr>
                    @if (editingDepartment == dept.Id)
                    {

                        <td><InputText class="form-control" @bind-Value="dept.Name" /></td>
                        <td><InputText class="form-control" @bind-Value="dept.NameEng" /></td>
                        <td>
                            <div class="mb-3">
                                @* <label for="Products" class="form-label">@(SharedDataService.Language == "Ar" ? "مدير الادارة" : "Manager")</label> *@
                                <AutoCompleteComponent TItem="UserDto"
                                                       Items="users"
                                                       Value="manager"
                                                       PlaceHolder="search manager ..."
                                                       ItemText='(p=> p.UserName)'
                                                       ValueChanged="OnUserSelected">
                                </AutoCompleteComponent>
                            </div>
                        </td>
                        <td><InputCheckbox class="form-check-input" @bind-Value="dept.IsActive" /></td>
                        @* <td><InputText class="form-control" @bind-Value="admin.BranchId.ToString()" /></td> *@
                        @* <td><InputText class="form-control" @bind-Value="admin.ManagerId.ToString()" /></td> *@
                        <td>
                            <button class="btn btn-success btn-sm" @onclick="async () => SaveAdministration(dept)">Save</button>
                            <button class="btn btn-secondary btn-sm" @onclick="CancelEdit">Cancel</button>
                        </td>
                    }
                    else
                    {
                        <td>@dept.Name</td>
                        <td>@dept.NameEng</td>
                        @* <td>@admin.BranchId</td> *@
                        <td>@(users.FirstOrDefault(u => u.Id == dept.HeadOfDepartment)?.UserName ?? "")</td>
                        <td>@dept.IsActive</td>
                        <td>
                            <button class="btn btn-warning btn-sm" @onclick="() => EditAdministration(dept)">@SharedDataService.SelectViewLang("Edit", "تعديل")</button>
                            <button class="btn btn-danger btn-sm" @onclick="() => DeleteDepartment(dept)">@SharedDataService.SelectViewLang("Delete", "حذف")</button>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
    <div class="d-flex justify-content-end align-items-center mt-3">

        <button class="btn btn-sm btn-secondary"
                @onclick="PrevPage"
                disabled="@(pageIndex == 1)">
            Previous
        </button>

        <span class="mx-3">Page @(pageIndex + 1) of @TotalPages @(TotalPages == 1 ? "" : "Pages")</span>

        <button class="btn btn-sm btn-secondary"
                @onclick="NextPage"
                disabled="@(pageIndex >= TotalPages)">
            Next
        </button>

    </div>
</div>

@code {

    private List<BranchDto> branches = new();
    private List<AdministrationDto> administrations = [];
    private List<DepartmentDto> departments = new();
    private List<UserDto> users = [];
    private UserDto manager = new();
    private Guid? editingDepartment;
    private Guid companyId;
    private AuthenticationState AuthState;
    protected override async Task OnInitializedAsync()
    {
        AuthState = await ((CustomAuthStateProvider)AuthenticationStateProvider).GetAuthenticationStateAsync();
        companyId = Guid.Parse(AuthState.User.Claims.First(c => c.Type == "company_id").Value);

        var userResponse = await AuthService.GetAsync(0, 100);
        if (userResponse.IsSuccess)
        {
            users = userResponse.Data?.Data?.ToList() ?? [];
        }

        // await LoadBranches();
        var branchResponse = await BranchService.GetByCompanyIdAsync(companyId, 0, 1000);
        if (branchResponse.IsSuccess)
        {
            branches = branchResponse.Data?.Data?.ToList() ?? [];
        }
    }
    BranchDto? selectedBranch ;
    private async Task OnBranchSelected(BranchDto branch)
    {
        selectedAdministration = new AdministrationDto();
        selectedBranch = branch;
        if (selectedBranch != null && selectedBranch.Id != Guid.Empty)
        {
            var admResponse = await AdministrationService.GetByBranchAsync(branch.Id, 0, 100);
            if (admResponse.IsSuccess)
            {
                administrations = admResponse.Data?.Data?.ToList() ?? [];
            }
            

            await LoadDepartments();
            StateHasChanged();
        }
    }

    AdministrationDto? selectedAdministration ;
    private async Task OnAdministrationSelected(AdministrationDto admin)
    {
        
        selectedAdministration = admin;
        if (selectedAdministration != null && selectedAdministration.Id != Guid.Empty)
        {
            await LoadDepartments();
            StateHasChanged();
        }
    }
    
    private async Task OnUserSelected(UserDto user)
    {
        manager = user;
        if (manager != null && manager.Id != Guid.Empty)
        {

            // await LoadAdministrations();
        }
        StateHasChanged();
    }
    // Branch
    async Task CreateNew()
    {

        if (selectedAdministration == null || selectedAdministration.Id == Guid.Empty )
        {
            await ModalService.ShowAsync(new ModalOptions
            {
                Title = SharedDataService.SelectViewLang("Create New", "إضافة"),
                Message = SharedDataService.SelectViewLang($"Please select Administrations first", $"يرجى اختيار الإدارة اولا"),
                // ShowCancel = true,
                // OkText = SharedDataService.SelectViewLang("Yes", "نعم"),
                // CancelText = SharedDataService.SelectViewLang("No", "لا"),

                OnOk = async () =>
                {



                }
            });

            return;
        }
        var newItem = new DepartmentDto();
        departments.Insert(0, newItem);
        editingDepartment = newItem.Id;
    }

    void EditAdministration(DepartmentDto dept)
    {

        editingDepartment = dept.Id;
    }

    async Task SaveAdministration(DepartmentDto dept)
    {
        if (dept.Id == Guid.Empty)
        {
            Random rnd = new Random();
            dept.Code = dept.NameEng.Substring(0, 1) + rnd.Next(100, 999);
            dept.CompanyId = companyId;
            
            dept.AdministrationId = selectedAdministration?.Id??null;
            dept.HeadOfDepartment = manager?.Id?? null;
            var bResponse = await DepartmentService.CreateAsync(dept);
            if (bResponse.IsSuccess)
            {
                //show success
                ToastService.Show(new ToastMessage
                {
                    Message = SharedDataService.SelectViewLang("Department has been created successfully", "تم انشاء القسم بنجاح"),
                    Type = "success"
                });

            }
            else
            {
                // how fail
                ToastService.Show(new ToastMessage
                {
                    Message = SharedDataService.SelectViewLang("Error has occured, please try again later", "حدث خطأ، الرجاء المحاولة مرة أخرى"),
                    Type = "error"
                });
            }
        }
        else
        {
            //Update
            if (manager != null && manager.Id != Guid.Empty && dept.HeadOfDepartment != manager.Id)
            {
                dept.HeadOfDepartment = manager.Id;
            }
            var bresponse = await DepartmentService.UpdateAsync(dept);
            if (bresponse.IsSuccess)
            {
                //show success
                ToastService.Show(new ToastMessage
                {
                    Message = SharedDataService.SelectViewLang("Department has been Edited successfully", "تم تعديل القسم بنجاح"),
                    Type = "success"
                });
            }
            else
            {

                // show  fail
                ToastService.Show(new ToastMessage
                {
                    Message = SharedDataService.SelectViewLang("Error has occured, please try again later", "حدث خطأ، الرجاء المحاولة مرة أخرى"),
                    Type = "error"
                });
            }
        }

        await LoadDepartments();
        // var response = await BranchService.GetByCompanyIdAsync(companyId);
        // if (response.IsSuccess)
        // {
        //     branches = response.Data?.ToList() ?? [];
        // }
        editingDepartment = null;
        StateHasChanged();
    }

    async Task DeleteDepartment(DepartmentDto dept)
    {
        await ModalService.ShowAsync(new ModalOptions
        {
            Title = SharedDataService.SelectViewLang("Confirm Delete", "تأكيد عملية الحذف"),
            Message = SharedDataService.SelectViewLang($"Are you sure you want to delete this department: {dept.NameEng}?", $"هل ترغب فعلا في حذف القسم: {dept.Name}؟"),
            ShowCancel = true,
            OkText = SharedDataService.SelectViewLang("Yes", "نعم"),
            CancelText = SharedDataService.SelectViewLang("No", "لا"),

            OnOk = async () =>
            {
                var adminResponse = await DepartmentService.DeleteAsync(dept.Id);
                if (adminResponse.IsSuccess)
                {

                    ToastService.Show(new ToastMessage
                    {
                        Message = SharedDataService.SelectViewLang("Deleted successfully", "تم الحذف بنجاح"),
                        Type = "success"
                    });

                    await LoadDepartments();
                    await InvokeAsync(StateHasChanged);
                    // var response = await BranchService.GetByCompanyIdAsync(companyId);
                    // if (response.IsSuccess)
                    // {
                    //     branches = response.Data?.ToList() ?? [];
                    //     await InvokeAsync(StateHasChanged);
                    // }
                }
                else
                {
                    ToastService.Show(new ToastMessage
                    {
                        Message = SharedDataService.SelectViewLang("Fail to delete the Administration", "فشلت عملية الحذف"),
                        Type = "error"
                    });
                }


            }
        });


    }
    void CancelEdit()
    {
        if (editingDepartment == null || editingDepartment == Guid.Empty)
        {
            var brToRemove = departments.FirstOrDefault(b => b.Id == editingDepartment);
            if (brToRemove != null)
            {
                departments.Remove(brToRemove);
            }

        }

        editingDepartment = null;
    }

    #region Table Helpers


    // Searching
    private string searchText = "";

    // Sorting
    private string sortColumn = nameof(BranchDto.Name);
    private bool sortAscending = true;

    // Pagination
    private int pageSize = 5;
    private int pageIndex = 0;
    private async Task LoadDepartments()
    {
        TotalPages = 0;
        if (selectedAdministration == null || selectedAdministration.Id == Guid.Empty)
        {
            departments = [];
            return;
        }


        var response = await DepartmentService.GetByAdministrationAsync(selectedAdministration.Id, pageIndex, pageSize);//,searchText);

        if (response.IsSuccess)
        {
            // var result = response.Data!.Data;

            // branches = result.Data.ToList();
            departments = response.Data?.Data?.ToList() ?? [];
            // TotalPages = (int)response.Data!.Count;
            TotalPages = (int)Math.Ceiling(response.Data!.Count / (double)pageSize);
        }
    }
    async Task OnPageSizeChanged(ChangeEventArgs e)
    {
        pageSize = int.Parse(e.Value!.ToString()!);
        pageIndex = 0;
        await LoadDepartments();
    }
    private IEnumerable<DepartmentDto> ProcessedAdministrations =>
    departments
        // 🔍 Search
        .Where(b =>
            string.IsNullOrWhiteSpace(searchText) ||
            (b.Name?.Contains(searchText, StringComparison.OrdinalIgnoreCase) ?? false) ||
            (b.NameEng?.Contains(searchText, StringComparison.OrdinalIgnoreCase) ?? false)
        // (b.Email?.Contains(searchText, StringComparison.OrdinalIgnoreCase) ?? false)
        )

        // 🎯 Filter
        // .Where(b =>
        //     filterMainBranch == null || b.IsMainBranch == filterMainBranch
        // )

        // 🔃 Sorting
        .OrderByDynamic(sortColumn, sortAscending)

        // 📄 Pagination
        .Skip((pageIndex) * pageSize)
        .Take(pageSize);



    // Filtering example
    private bool? filterMainBranch = null;
    // private long totalCount = 0;
    private int TotalPages = 1;
    // private int TotalPages =>
    // (int)Math.Ceiling(
    //     totalCount/ (double)pageSize);

    async Task NextPage()
    {
        // if (currentPage < TotalPages)
        //     currentPage++;

        if (pageIndex < TotalPages - 1)
        {
            pageIndex++;
            await LoadDepartments();
        }
    }

    async Task PrevPage()
    {
        // if (pageIndex > 1)
        //     pageIndex--;
        
        if (pageIndex > 0)
        {
            pageIndex--;
            await LoadDepartments();
        }
    }

    void Sort(string column)
    {
        if (sortColumn == column)
            sortAscending = !sortAscending;
        else
        {
            sortColumn = column;
            sortAscending = true;
        }
    }
    #endregion Table helpers
}
