@using AlAfkarERP.Shared.Utilities
@inject SharedDataService SharedDataService
@inject NavigationManager NavigationManager

<div class="bg-dark text-white d-flex flex-column p-2" style="width: 250px;">

    <!-- Logo -->
    <div class="text-center mb-3">
        <h5 class="fw-bold">ERP System</h5>
    </div>

    <!-- Menu -->
    <ul class="nav nav-pills flex-column">

        <li class="nav-item">
            <NavLink href="/" class="nav-link text-white" Match="NavLinkMatch.All">
                <i class="bi bi-speedometer2 me-2"></i>
                @SharedDataService.SelectViewLang("Home","الرئيسية")
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink href="/AdminDashboard" class="nav-link text-white">
                <i class="bi bi-speedometer2 me-2"></i>
                @SharedDataService.SelectViewLang("Control Panel", "لوحة التحكم")
            </NavLink>
        </li>

        <li class="nav-item">
            <NavLink href="/Organization/Company/List" class="nav-link text-white">
                <i class="bi bi-box-seam me-2"></i>
                @(SharedDataService.SelectViewLang("Organizational Structure","الهيكل التنظيمي"))
            </NavLink>
        </li>

        <li class="nav-item">
            <NavLink href="/Employee/Dashboard" class="nav-link text-white">
                <i class="bi bi-box-seam me-2"></i>
                @(SharedDataService.SelectViewLang("Employees", "الموظفين"))
            </NavLink>
        </li>

        <li class="nav-item">
            <NavLink href="/Auth/User/List" class="nav-link text-white">
                <i class="bi bi-tags me-2"></i>
                @SharedDataService.SelectViewLang("Users Management","إدارة المستخدمين")
            </NavLink>
        </li>

        <li class="nav-item">
            <NavLink href="/zWarehouse" class="nav-link text-white">
                <i class="bi bi-building me-2"></i>
                Warehouses
            </NavLink>
        </li>

        <li class="nav-item">
            <NavLink href="/zstock-movements" class="nav-link text-white">
                <i class="bi bi-arrow-left-right me-2"></i>
                Stock Movements
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink href="/zreports" class="nav-link text-white">
                <i class="bi bi-arrow-left-right me-2"></i>
                Reports
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink href="/movements" class="nav-link text-white">
                <i class="bi bi-arrow-left-right me-2"></i>
                Settings
            </NavLink>
        </li>
    </ul>

</div>