@layout ProductLayout
@page "/Warehouse/Product/Brand/List"
@using AlAfkarERP.Shared.Pages.Features.Warehouses.Products.Layout

@using AlAfkarERP.Shared.Pages.Features.Warehouses.Services
@using AlAfkarERP.Shared.Pages.Reuable2
@using AlAfkarERP.Shared.Utilities
@using Microsoft.AspNetCore.Components.Authorization
@using SharedWithUI.Catalog.Dtos
@using SharedWithUI.Permissions


@inject IBrandService BrandService
@inject ToastService ToastService
@inject ModalService ModalService

@inject AuthenticationStateProvider AuthenticationStateProvider


@inject NavigationManager NavigationManager
@inject SharedDataService SharedDataService

@if (!AuthState.User.Claims.Any(c => c.Value == $"{PermissionList.BrandPermissions.Create}"))
{
    <div class="alert alert-warning">
        <span>@SharedDataService.SelectViewLang("You don't have permissions to view this page", "ليس لديك الصلاحية لعرض هذه الصفحة")</span>
    </div>
    return;
}

<!-- Branches -->
<h5>@SharedDataService.SelectViewLang("Brand Management", "ادارة العلامة التجارية")</h5>

@* <button class="btn btn-sm btn-primary mb-2" @onclick="CreateNew">+ Add Branch</button> *@
<button class="btn btn-primary mb-3"
        @onclick="CreateNew"
        disabled=@(!AuthState.User.Claims.Any(c => c.Value == $"{PermissionList.BrandPermissions.Create}") ? true : false)>
    <i class="bi bi-file-earmark-plus-fill"></i> @(SharedDataService.Language == "Ar" ? "إضافة جديد" : "Create New")
</button>

<div class="card p-3 mb-3">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <!--

        Export to xls and pdf
        <div class="d-flex gap-2">

            <button class="btn btn-success btn-sm" @onclick="ExportToExcel">
                <i class="bi bi-file-earmark-excel"></i> Excel
            </button>

            <button class="btn btn-danger btn-sm" @onclick="ExportToPdf">
                <i class="bi bi-file-earmark-pdf"></i> PDF
            </button>

        </div>
        -->
        <!-- 🔍 Search -->
        <div>
            <input class="form-control"
                   placeholder="Search..."
                   @bind="searchText" />
        </div>

        <!--

        🎯 Filter
        <div class="col-md-3">
            <select class="form-select" @bind="filterMainBranch">
                <option value="">All</option>
                <option value="true">Main Branch</option>
                <option value="false">Not Main</option>
            </select>
        </div>
        -->
        <!-- 📄 Page Size -->
        <div>
            @* <select class="form-select" @bind="pageSize"> *@
            <select class="form-select" @onchange="OnPageSizeChanged">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="20">20</option>
            </select>
        </div>

    </div>
    <table class="table">
        <thead>
            <tr>
                <th @onclick="() => Sort(nameof(BrandDto.Name))">
                    <span class="@(sortAscending ? "bi bi-arrow-up" : "bi bi-arrow-down")"></span>
                    @SharedDataService.SelectViewLang("Name", "الاسم")
                </th>
                <th @onclick="() => Sort(nameof(BrandDto.NameEng))">@SharedDataService.SelectViewLang("NameEng", "الاسم بالانجليزية")</th>
                <th>@SharedDataService.SelectViewLang("Description", "الوصف")</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            
            @if (editingBrandId != null)
            {
                var editingItem = brands.FirstOrDefault(x => x.Id == editingBrandId);
                if (editingItem != null)
                {
                    <tr>
                        <td colspan="9">
                            <EditForm Model="editingItem" OnValidSubmit="() => SaveBrand(editingItem)">
                                <DataAnnotationsValidator />
                                <ValidationSummary />
                                @* <InputHidden @bind-Value="branch.Id"/> *@
                                <div class="row bg-info-subtle p-3">

                                    <div class="mb-3 row">
                                        <label for="inputFirstName" class="col-sm-2 col-form-label">@SharedDataService.SelectViewLang("Name", "الاسم")</label>
                                        <div class="col-sm-10">
                                            <InputText class="form-control" @bind-Value="editingItem.Name" />
                                            <ValidationMessage For="() => editingItem.Name" />
                                        </div>
                                    </div>

                                    <div class="mb-3 row">
                                        <label for="inputFirstName" class="col-sm-2 col-form-label">@SharedDataService.SelectViewLang("Name (En)", "الاسم (انجليزي)")</label>
                                        <div class="col-sm-10">
                                            <InputText class="form-control" @bind-Value="editingItem.NameEng" />
                                            <ValidationMessage For="() => editingItem.NameEng" />
                                        </div>
                                    </div>

                                    <div class="mb-3 row">
                                        <label for="inputFirstName" class="col-sm-2 col-form-label">@SharedDataService.SelectViewLang("Description", "الوصف")</label>
                                        <div class="col-sm-10">
                                            <InputTextArea class="form-control" @bind-Value="editingItem.Description" />
                                            
                                        </div>
                                    </div>



                                    <div class="col">
                                        <button type="submit" class="btn btn-success btn-sm">Save</button>
                                        <button type="button" class="btn btn-secondary btn-sm" @onclick="CancelEdit">Cancel</button>
                                    </div>
                                </div>
                            </EditForm>
                        </td>
                    </tr>

                }
                

            }
            @foreach (var brand in ProcessedBrands.Where(x => x.Id != editingBrandId))
            {
                
                    <tr>
                        <td>@brand.Name</td>
                        <td>@brand.NameEng</td>
                        <td>@brand.Description</td>
                        <td>
                            <button class="btn btn-warning btn-sm"
                                    @onclick="() => EditBrand(brand.Id)"
                                    disabled=@(!AuthState.User.Claims.Any(c => c.Value == $"{PermissionList.BrandPermissions.Edit}"))>
                                @SharedDataService.SelectViewLang("Edit", "تعديل")
                            </button>
                            <button class="btn btn-danger btn-sm"
                                    @onclick="() => DeleteBrand(brand)"
                                    disabled=@(!AuthState.User.Claims.Any(c => c.Value == $"{PermissionList.BrandPermissions.Delete}"))>
                                @SharedDataService.SelectViewLang("Delete", "حذف")
                            </button>
                        </td>
                    </tr>
                
            }
        </tbody>
    </table>
    <div class="d-flex justify-content-end align-items-center mt-3">

        <button class="btn btn-sm btn-secondary"
                @onclick="PrevPage"
                disabled="@(pageIndex == 1)">
            Previous
        </button>

        <span class="mx-3">Page @(pageIndex + 1) of @TotalPages @(TotalPages == 1 ? "" : "Pages")</span>

        <button class="btn btn-sm btn-secondary"
                @onclick="NextPage"
                disabled="@(pageIndex >= TotalPages)">
            Next
        </button>

    </div>
</div>

@code {
    private List<BrandDto> brands = new();
    private Guid? editingBrandId;
    private Guid companyId;
    private bool isEdit = false;
    private AuthenticationState AuthState;
    protected override async Task OnInitializedAsync()
    {
        AuthState = await ((CustomAuthStateProvider)AuthenticationStateProvider).GetAuthenticationStateAsync();
        if (!AuthState.User.Identity.IsAuthenticated)
        {
            NavigationManager.NavigateTo("/login", true);

        }
        companyId = Guid.Parse(AuthState.User.Claims.First(c => c.Type == "company_id").Value);

        await LoadBrands();
        // var branchResponse = await BranchService.GetByCompanyIdAsync(companyId);
        // if (branchResponse.IsSuccess)
        // {
        //     branches = branchResponse.Data?.ToList() ?? [];
        // }
    }
    // Branch
    void CreateNew()
    {
        var newItem = new BrandDto()
        {
            Id = Guid.NewGuid()
        };
        newItem.CompanyId = companyId;
        brands.Insert(0, newItem);
        editingBrandId = newItem.Id;
        isEdit = false;
    }

    void EditBrand(Guid id)
    {
        editingBrandId = id;
        isEdit = true;
        StateHasChanged();
    }
    async Task SaveBrand(BrandDto brand)
    {
        if (brand.Id == editingBrandId && !isEdit)
        {
            //Create new

            Random rnd = new Random();

            brand.CompanyId = companyId;

            var bResponse = await BrandService.CreateAsync(brand);
            if (bResponse.IsSuccess)
            {
                //show success
                ToastService.Show(new ToastMessage
                {
                    Message = SharedDataService.SelectViewLang("Brand has been created successfully", "تم العلامة التجارية بنجاح"),
                    Type = "success"
                });

            }
            else
            {
                // how fail
                ToastService.Show(new ToastMessage
                {
                    Message = SharedDataService.SelectViewLang("Error has occured, please try again later", "حدث خطأ، الرجاء المحاولة مرة أخرى"),
                    Type = "error"
                });
            }
        }
        else
        {
            //Edit

            var bresponse = await BrandService.UpdateAsync(brand);
            if (bresponse.IsSuccess)
            {
                //show success
                ToastService.Show(new ToastMessage
                {
                    Message = SharedDataService.SelectViewLang("Brand has been Edited successfully", "تم تعديل العلامة التجارية بنجاح"),
                    Type = "success"
                });
            }
            else
            {
                // show
                // 
                // 
                // 
                //   fail
                ToastService.Show(new ToastMessage
                {
                    Message = SharedDataService.SelectViewLang("Error has occured, please try again later", "حدث خطأ، الرجاء المحاولة مرة أخرى"),
                    Type = "error"
                });
            }
        }

        await LoadBrands();
        // var response = await BranchService.GetByCompanyIdAsync(companyId);
        // if (response.IsSuccess)
        // {
        //     branches = response.Data?.ToList() ?? [];
        // }
        editingBrandId = null;
    }

    async Task DeleteBrand(BrandDto brand)
    {
        await ModalService.ShowAsync(new ModalOptions
        {
            Title = SharedDataService.SelectViewLang("Confirm Delete", "تأكيد عملية الحذف"),
            Message = SharedDataService.SelectViewLang($"Are you sure you want to delete this brand: {brand.NameEng}?", $"هل ترغب فعلا في حذف العلامة التجارية: {brand.Name}؟"),
            ShowCancel = true,
            OkText = SharedDataService.SelectViewLang("Yes", "نعم"),
            CancelText = SharedDataService.SelectViewLang("No", "لا"),

            OnOk = async () =>
            {
                var brResponse = await BrandService.DeleteAsync(brand.Id);
                if (brResponse.IsSuccess)
                {

                    ToastService.Show(new ToastMessage
                    {
                        Message = SharedDataService.SelectViewLang("Deleted successfully", "تم الحذف بنجاح"),
                        Type = "success"
                    });

                    await LoadBrands();

                    await InvokeAsync(StateHasChanged);
                }
                else
                {
                    ToastService.Show(new ToastMessage
                    {
                        Message = SharedDataService.SelectViewLang("Fail to delete the brand", "فشلت عملية الحذف"),
                        Type = "error"
                    });
                }


            }
        });


    }
    async Task CancelEdit()
    {


        //new
        // branch
        var item = brands.FirstOrDefault(x => x.Id == editingBrandId);

        if (item != null && item.Id != Guid.Empty)
        {
            // existing record → keep it
            var brRes = await BrandService.GetByCompanyIdAsync(companyId, 0, 1000);
            if (brRes.IsSuccess)
            {
                brands = brRes.Data?.Data?.ToList() ?? [];
            }
        }
        else
        {
            // new record → remove it
            brands.Remove(item);
        }
        isEdit = false;
        editingBrandId = null;
    }

    #region Table Helpers


    // Searching
    private string searchText = "";

    // Sorting
    private string sortColumn = nameof(BranchDto.Name);
    private bool sortAscending = true;

    // Pagination
    private int pageSize = 5;
    private int pageIndex = 0;
    private async Task LoadBrands()
    {
        // var request = new PaginationRequest(pageIndex, pageSize, searchText);

        var response = await BrandService.GetByCompanyIdAsync(companyId, pageIndex, pageSize);//,searchText);

        if (response.IsSuccess)
        {
            // var result = response.Data!.Data;

            // branches = result.Data.ToList();
            brands = response.Data?.Data.ToList() ?? [];
            // TotalPages = (int)response.Data!.Count;
            TotalPages = (int)Math.Ceiling(response.Data!.Count / (double)pageSize);
        }
    }
    async Task OnPageSizeChanged(ChangeEventArgs e)
    {
        pageSize = int.Parse(e.Value!.ToString()!);
        pageIndex = 0;
        await LoadBrands();
    }
    private IEnumerable<BrandDto> ProcessedBrands =>
    brands
        // 🔍 Search
        .Where(b =>
            string.IsNullOrWhiteSpace(searchText) ||
            (b.Name?.Contains(searchText, StringComparison.OrdinalIgnoreCase) ?? false) ||
            (b.NameEng?.Contains(searchText, StringComparison.OrdinalIgnoreCase) ?? false) 
            
        )

        // 🎯 Filter
        // .Where(b =>
        //     filterMainBranch == null || b.IsMainBranch == filterMainBranch
        // )

        // 🔃 Sorting
        .OrderByDynamic(sortColumn, sortAscending)

        // 📄 Pagination
        .Skip((pageIndex) * pageSize)
        .Take(pageSize);



    // Filtering example
    // private bool? filterMainBranch = null;
    // private long totalCount = 0;
    private int TotalPages = 1;
    // private int TotalPages =>
    // (int)Math.Ceiling(
    //     totalCount/ (double)pageSize);

    async Task NextPage()
    {
        // if (currentPage < TotalPages)
        //     currentPage++;

        if (pageIndex < TotalPages - 1)
        {
            pageIndex++;
            await LoadBrands();
        }
    }

    async Task PrevPage()
    {
        // if (pageIndex > 1)
        //     pageIndex--;
        
        if (pageIndex > 0)
        {
            pageIndex--;
            await LoadBrands();
        }
    }

    void Sort(string column)
    {
        if (sortColumn == column)
            sortAscending = !sortAscending;
        else
        {
            sortColumn = column;
            sortAscending = true;
        }
    }
    #endregion Table helpers

    protected override void OnInitialized()
    {
        SharedDataService.OnChange1 += HandleChangeAsync;
    }

    private async Task HandleChangeAsync()
    {
        await InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        SharedDataService.OnChange1 -= HandleChangeAsync;
    }
}
