@layout EmployeeLayout
@page "/Employee/Employee/Form/{Id:guid?}"

@using AlAfkarERP.Shared.Pages.Features.Company.Services
@using AlAfkarERP.Shared.Pages.Features.Employees.Layout
@using AlAfkarERP.Shared.Pages.Features.Employees.Services
@using AlAfkarERP.Shared.Pages.Reuable
@using AlAfkarERP.Shared.Utilities
@using Microsoft.AspNetCore.Components.Authorization
@using SharedWithUI.Employees.Dtos

@inject IBranchService BranchService
@inject IAdministrationService AdministrationService
@inject IDepartmentService DepartmentService
@inject IEmployeeService EmployeeService

@inject AuthenticationStateProvider AuthenticationStateProvider

@inject SharedDataService SharedDataService
@inject NavigationManager NavigationManager


<h3>@title</h3>
<section>
    <EditForm Model="employee" OnValidSubmit="HandleSubmit">
        <DataAnnotationsValidator/>
        <section>
            <div class="mb-3 row">
                <label for="branch" class="col-sm-2 col-form-label">@SharedDataService.SelectViewLang("Select Branch", "اختر الفرع")</label>
                <div class="col-sm-10">
                    <AutoCompleteComponent
                        TItem="BranchDto"
                        Items="branches"
                        ItemText="(b=> SharedDataService.SelectViewLang(b.NameEng,b.Name))"
                        OnSelected="OnBranchSelected">
                    </AutoCompleteComponent>
                </div>
            </div>
            

            <div class="mb-3 row">
                <label for="admin" class="col-sm-2 col-form-label">@SharedDataService.SelectViewLang("Select Administration", "اختر الإدارة")</label>
                <div class="col-sm-10">
                    <AutoCompleteComponent
                        TItem="AdministrationDto"
                        Items="administrations"
                        ItemText="(b=> SharedDataService.SelectViewLang(b.NameEng,b.Name))"
                        OnSelected="OnAdministrationSelected">
                    </AutoCompleteComponent>
                </div>
            </div>
            
            <div class="mb-3 row">
                <label for="admin" class="col-sm-2 col-form-label">@SharedDataService.SelectViewLang("Select Department", "اختر القسم")</label>
                <div class="col-sm-10">
                    <AutoCompleteComponent TItem="DepartmentDto"
                                           Items="departments"
                                           ItemText="(b=> SharedDataService.SelectViewLang(b.NameEng,b.Name))"
                                           OnSelected="OnDepartmentSelected">
                    </AutoCompleteComponent>
                </div>
            </div>

            <div class="mb-3 row">
                <label for="inputEmployeeNo" class="col-sm-2 col-form-label">@SharedDataService.SelectViewLang("Employee No", "الرقم الوظيفي")</label>
                <div class="col-sm-10">
                    <InputText class="form-control" id="inputEmployeeNo" @bind-Value="employee.EmployeeNo"/>
                    <ValidationMessage For="()=> employee.EmployeeNo"/>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="inputFirstName" class="col-sm-2 col-form-label">@SharedDataService.SelectViewLang("First Name","الاسم الاول")</label>
                <div class="col-sm-10">
                    <InputText  class="form-control" id="inputFirstName" @bind-Value="employee.FirstName"/>
                    <ValidationMessage For="() => employee.FirstName" />
                </div>
            </div>
            <div class="mb-3 row">
                <label for="MiddleName" class="col-sm-2 col-form-label">@SharedDataService.SelectViewLang("Middle Name", "الاسم الاوسط")</label>
                <div class="col-sm-10">
                    <InputText class="form-control" id="MiddleName" @bind-Value="employee.MiddleName" />
                    <ValidationMessage For="() => employee.MiddleName" />
                </div>
            </div>
            <div class="mb-3 row">
                <label for="LastName" class="col-sm-2 col-form-label">@SharedDataService.SelectViewLang("Last Name", "الاسم الأخير")</label>
                <div class="col-sm-10">
                    <InputText class="form-control" id="LastName" @bind-Value="employee.LastName" />
                    <ValidationMessage For="() => employee.LastName" />
                </div>
            </div>
            <div class="mb-3 row">
                <label for="DateOfBirth" class="col-sm-2 col-form-label">@SharedDataService.SelectViewLang("Date Of Birth", "تاريخ الميلاد")</label>
                <div class="col-sm-10">
                    <InputDate class="form-control" id="DateOfBirth" @bind-Value="employee.DateOfBirth" />
                    <ValidationMessage For="() => employee.DateOfBirth" />
                </div>
            </div>
            <div class="mb-3 row">
                <label for="NationalId" class="col-sm-2 col-form-label">@SharedDataService.SelectViewLang("NationalId", "رقم الهوية")</label>
                <div class="col-sm-10">
                    <InputText class="form-control" id="NationalId" @bind-Value="employee.NationalId" />
                    <ValidationMessage For="() => employee.Phone" />
                </div>
            </div>
            <div class="mb-3 row">
                <label for="NationalId" class="col-sm-2 col-form-label">@SharedDataService.SelectViewLang("Identity type", "نوع الهوية")</label>
                <div class="col-sm-10">
                    <InputText class="form-control" id="NationalId" @bind-Value="employee.NationalId" />
                    <ValidationMessage For="() => employee.Phone" />
                </div>
            </div>
            <div class="mb-3 row">
                <label for="NationalId" class="col-sm-2 col-form-label">@SharedDataService.SelectViewLang("Gender", "النوع")</label>
                <div class="col-sm-10">
                    <InputText class="form-control" id="NationalId" @bind-Value="employee.NationalId" />
                    <ValidationMessage For="() => employee.Phone" />
                </div>
            </div>
            
            <div class="mb-3 row">
                <label for="Email" class="col-sm-2 col-form-label">@SharedDataService.SelectViewLang("Email", "الايميل")</label>
                <div class="col-sm-10">
                    <InputText class="form-control" id="Email" @bind-Value="employee.Email" />
                    <ValidationMessage For="() => employee.Email" />
                </div>
            </div>
            <div class="mb-3 row">
                <label for="Phone" class="col-sm-2 col-form-label">@SharedDataService.SelectViewLang("Phone", "الهاتف")</label>
                <div class="col-sm-10">
                    <InputText class="form-control" id="Phone" @bind-Value="employee.Phone" />
                    <ValidationMessage For="() => employee.Phone" />
                </div>
            </div>
            <div class="mb-3 row">
                <label for="HireDate" class="col-sm-2 col-form-label">@SharedDataService.SelectViewLang("HireDate", "تاريخ التعيين")</label>
                <div class="col-sm-10">
                    <InputDate class="form-control" id="HireDate" @bind-Value="employee.HireDate" />
                    <ValidationMessage For="() => employee.HireDate" />
                </div>
            </div>
            <div class="mb-3 row">
                <label for="Phone" class="col-sm-2 col-form-label">@SharedDataService.SelectViewLang("Position", "المسمى الوظيفي")</label>
                <div class="col-sm-10">
                    <InputText class="form-control" id="Phone" @bind-Value="employee.Phone" />
                    <ValidationMessage For="() => employee.Phone" />
                </div>
            </div>
            

        </section>
    </EditForm>
</section>
@code {
    [Parameter]
    public Guid? Id { get; set; }

    private List<BranchDto> branches = [];
    private List<AdministrationDto> administrations = [];
    private List<DepartmentDto> departments = [];
    private List<PositionDto> positions = [];

    private EmployeeDto employee=new() { HireDate=DateTime.Now, DateOfBirth=DateTime.Now.AddYears(-20)};

    private Guid companyId;

    private string title ;
    private AuthenticationState AuthState;
    protected override async Task OnInitializedAsync()
    {
        title = SharedDataService.SelectViewLang("New Employee", "موظف جديد");

        AuthState = await ((CustomAuthStateProvider)AuthenticationStateProvider).GetAuthenticationStateAsync();
        companyId =Guid.Parse( AuthState.User.Claims.First(c => c.Type == "company_id").Value);

        var bResponse = await BranchService.GetByCompanyIdAsync(companyId, 0, 1000);
        if (bResponse.IsSuccess)
        {
            branches = bResponse.Data?.Data?.ToList() ?? [];
        }


        if (Id.HasValue)
        {
            title = SharedDataService.SelectViewLang("Edit Employee", "تعديل بيانات موظف");
            var empResponse = await EmployeeService.GetByIdAsync(Id.Value);
            if (empResponse.IsSuccess)
            {
                employee = empResponse.Data;
            }
            else
            {
                //show employee not found msg and return to employee list page

            }
        }
        else
        {

        }
    }
    private Task HandleSubmit()
    {
        return Task.CompletedTask;
    }
    private BranchDto selectedBranch = new();
    private async Task OnBranchSelected(BranchDto branch)
    {
        selectedBranch = branch;
        var admResponse = await AdministrationService.GetByBranchAsync(branch.Id, 0, 1000);
        if (admResponse.IsSuccess)
        {
            administrations = admResponse.Data?.Data?.ToList() ?? [];
        }
    }

    private AdministrationDto selectedAdministration = new();
    private async Task OnAdministrationSelected(AdministrationDto administration)
    {
        selectedAdministration = administration;
        var deptResponse = await DepartmentService.GetByAdministrationAsync(administration.Id, 0, 1000);
        if (deptResponse.IsSuccess)
        {
            departments = deptResponse.Data?.Data?.ToList() ?? [];
        }
    }
    private DepartmentDto selectedDepartment = new();
    private void OnDepartmentSelected(DepartmentDto department)
    {
        selectedDepartment= department;
    }
}
