@layout EmployeeLayout
@page "/Employee/Employee/Form/{Id:guid?}"

@using AlAfkarERP.Shared.Dtos
@using AlAfkarERP.Shared.Pages.Features.Company.Services
@using AlAfkarERP.Shared.Pages.Features.Employees.Layout
@using AlAfkarERP.Shared.Pages.Features.Employees.Services
@* @using AlAfkarERP.Shared.Pages.Reuable *@
@using AlAfkarERP.Shared.Pages.Reuable2
@using AlAfkarERP.Shared.Utilities
@using Microsoft.AspNetCore.Components.Authorization
@using SharedWithUI.Employees.Dtos
@using SharedWithUI.Employees.Enums
@using SharedWithUI.Permissions

@inject IBranchService BranchService
@inject IAdministrationService AdministrationService
@inject IDepartmentService DepartmentService
@inject IEmployeeService EmployeeService
@inject IPositionService PositionService
@inject IAcademicInistitutionService AcademicInistitutionService
@inject ISpecializationService SpecializationService
@inject ApiConfig ApiConfig
@inject AuthenticationStateProvider AuthenticationStateProvider

@inject ToastService ToastService
@inject ModalService ModalService

@inject SharedDataService SharedDataService
@inject NavigationManager NavigationManager

@if (!AuthState.User.Claims.Any(c => c.Value == PermissionList.EmployeePermissions.Create) ||
    !AuthState.User.Claims.Any(c => c.Value == PermissionList.EmployeePermissions.Edit))
{
    <div class="alert alert-warning">
        <span>
            @SharedDataService.SelectViewLang("You don't have permissions to view this page",
            "ليس لديك الصلاحية لعرض هذه الصفحة")
        </span>
    </div>
    return;
}
<h3>@title</h3>
<section>
    <EditForm Model="employee" OnValidSubmit="HandleSubmit">
        <DataAnnotationsValidator />
        @* <ValidationSummary /> *@
        <section>
            @if (!Id.HasValue)
            {
                <!--Position Information-->
                <div class="card mb-3">
                    <div class="card-header">
                        @SharedDataService.SelectViewLang("Employment Position Information", "بيانات الموقع الوظيفي")
                    </div>
                    <div class="card-body">

                        <div class="mb-3 row">
                            <label for="branch" class="col-sm-2 col-form-label">@SharedDataService.SelectViewLang("Select Branch", "اختر الفرع")</label>
                            <div class="col-sm-10">
                                <AutoCompleteComponent TItem="BranchDto"
                                                       Items="branches"
                                                       Value="selectedBranch"
                                                       ItemText="(b=> SharedDataService.SelectViewLang(b.NameEng,b.Name))"
                                                       ValueChanged="OnBranchSelected">
                                </AutoCompleteComponent>
                                <ValidationMessage For="() => employee.BranchId" />
                            </div>
                        </div>


                        <div class="mb-3 row">
                            <label for="admin" class="col-sm-2 col-form-label">@SharedDataService.SelectViewLang("Select Administration", "اختر الإدارة")</label>
                            <div class="col-sm-10">
                                <AutoCompleteComponent TItem="AdministrationDto"
                                                       Items="administrations"
                                                       Value="selectedAdministration"
                                                       ItemText="(b=> SharedDataService.SelectViewLang(b.NameEng,b.Name))"
                                                       ValueChanged="OnAdministrationSelected">
                                </AutoCompleteComponent>
                                <ValidationMessage For="() => employee.AdministrationId" />
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label for="admin" class="col-sm-2 col-form-label">@SharedDataService.SelectViewLang("Select Department", "اختر القسم")</label>
                            <div class="col-sm-10">
                                <AutoCompleteComponent TItem="DepartmentDto"
                                                       Items="departments"
                                                       Value="selectedDepartment"
                                                       ItemText="(b=> SharedDataService.SelectViewLang(b.NameEng,b.Name))"
                                                       ValueChanged="OnDepartmentSelected">
                                </AutoCompleteComponent>
                                <ValidationMessage For="() => employee.DepartmentId" />
                            </div>
                        </div>
                    </div>
                </div>
                <!--Position Information-->
            }

            <!--Personal Information-->
            <div class="card mb-3">
                <div class="card-header">
                    @SharedDataService.SelectViewLang("Personal information", "المعلومات الشخصية")
                </div>
                <div class="card-body">
                    @* emp photo *@
                    <div class="mb-3 row">
                        <label for="DateOfBirth" class="col-sm-2 col-form-label">@SharedDataService.SelectViewLang("Photo", "الصورة")</label>
                        <div class="col-sm-10">
                            <label for="profileUpload" style="cursor:pointer;">
                                <img src="@(string.IsNullOrEmpty(employee?.PhotoUrl)
                                    ? "_content/AlAfkarERP.Shared/images/empPlaceholder.png"
                                    : (employee.PhotoUrl.Contains("data:")
                                        ? employee.PhotoUrl
                                        : $"{ApiConfig.BaseURL}/Images/Employees/{employee.PhotoUrl}"))"
                                     alt="Add product image"
                                     height="50"
                                     width="50"
                                     class="card-img-top" />

                            </label>

                            <InputFile id="profileUpload"
                                       style="display:none"
                                       OnChange="OnEmployeeImageSelected"
                                       accept="image/*" />
                            <ValidationMessage For="@(() => employee.PhotoUrl)" class="text-danger" />
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label for="Phone" class="col-sm-2 col-form-label">@SharedDataService.SelectViewLang("Code", "الكود")</label>
                        <div class="col-sm-10">
                            <InputText class="form-control" id="Phone" @bind-Value="employee.Code" disabled="@Id.HasValue" />
                            <label class="text-muted text-danger">يمثل اسم المستخدم ويتم استخدامه عند تسجيل الدخول</label>
                            <ValidationMessage For="() => employee.Code" />
                        </div>
                    </div>
                
                    <!--Name Arabic-->
                    <div class="mb-3 row">
                        <label for="inputFirstName" class="col-sm-2 col-form-label">@SharedDataService.SelectViewLang("Employee Name (Ar)", "اسم الموظف (ع)")</label>
                        <div class="col-sm-10">
                            <div class="mb-3 row">
                                <label for="inputFirstName" class="col-sm-2 col-form-label">@SharedDataService.SelectViewLang("First", "الاول")</label>
                                <div class="col-sm-10">
                                    <InputText class="form-control" id="inputFirstName" @bind-Value="employee.FirstName" />
                                    <ValidationMessage For="() => employee.FirstName" />
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="inputFirstName" class="col-sm-2 col-form-label">@SharedDataService.SelectViewLang("Middle", "الأوسط")</label>
                                <div class="col-sm-10">
                                    <InputText class="form-control" id="inputFirstName" @bind-Value="employee.MiddleName" />
                                    <ValidationMessage For="() => employee.MiddleName" />
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="inputFirstName" class="col-sm-2 col-form-label">@SharedDataService.SelectViewLang("Last", "الأخير")</label>
                                <div class="col-sm-10">
                                    <InputText class="form-control" id="inputFirstName" @bind-Value="employee.LastName" />
                                    <ValidationMessage For="() => employee.LastName" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Name Eng-->
                    <div class="mb-3 row">
                        <label for="inputFirstName" class="col-sm-2 col-form-label">@SharedDataService.SelectViewLang("Employee Name (Eng.)", "اسم الموظف (E)")</label>
                        <div class="col-sm-10">
                            <div class="mb-3 row">
                                <label for="inputFirstName" class="col-sm-2 col-form-label">@SharedDataService.SelectViewLang("First", "الاول")</label>
                                <div class="col-sm-10">
                                    <InputText class="form-control" id="inputFirstName" @bind-Value="employee.FirstNameEng" />
                                    <ValidationMessage For="() => employee.FirstNameEng" />
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="inputFirstName" class="col-sm-2 col-form-label">@SharedDataService.SelectViewLang("Middle", "الأوسط")</label>
                                <div class="col-sm-10">
                                    <InputText class="form-control" id="inputFirstName" @bind-Value="employee.MiddleNameEng" />
                                    <ValidationMessage For="() => employee.MiddleNameEng" />
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="inputFirstName" class="col-sm-2 col-form-label">@SharedDataService.SelectViewLang("Last", "الأخير")</label>
                                <div class="col-sm-10">
                                    <InputText class="form-control" id="inputFirstName" @bind-Value="employee.LastNameEng" />
                                    <ValidationMessage For="() => employee.LastNameEng" />
                                </div>
                            </div>
                        </div>
                    </div>

                    
                    @if (!Id.HasValue)
                    {
                        <div class="mb-3 row">
                            <label for="DateOfBirth" class="col-sm-2 col-form-label">@SharedDataService.SelectViewLang("Date Of Birth", "تاريخ الميلاد")</label>
                            <div class="col-sm-10">
                                <InputDate class="form-control" id="DateOfBirth" @bind-Value="employee.DateOfBirth" />
                                <ValidationMessage For="() => employee.DateOfBirth" />
                            </div>
                        </div>
                        
                        <div class="mb-3 row">
                            <label class="col-sm-2 col-form-label">
                                @SharedDataService.SelectViewLang("Nationality", "الجنسية")
                            </label>
                            <div class="col-sm-10">
                                <InputSelect class="form-control" @bind-Value="employee.Nationality">
                                    @foreach (var nationality in Enum.GetValues<Nationality>())
                                    {
                                        <option value="@nationality">
                                            @NationalityTranslator.GetDisplay(nationality, SharedDataService.Language)
                                        </option>
                                    }
                                </InputSelect>
                                <ValidationMessage For="() => employee.Nationality" />
                            </div>
                        </div>

                    }

                    <div class="mb-3 row">
                        <label for="NationalId" class="col-sm-2 col-form-label">@SharedDataService.SelectViewLang("NationalId", "رقم الهوية")</label>
                        <div class="col-sm-10">
                            <InputText class="form-control" id="NationalId" @bind-Value="employee.NationalId" />
                            <ValidationMessage For="() => employee.NationalId" />
                        </div>
                    </div>
            
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">
                            @SharedDataService.SelectViewLang("Identity Type", "نوع الهوية")
                        </label>
                        <div class="col-sm-10">
                            <InputSelect class="form-control" @bind-Value="employee.IdentityType">
                                @foreach (var type in Enum.GetValues<IdentityType>())
                                {
                                    <option value="@type">
                                        @GetIdentityTypeDisplay(type)
                                    </option>
                                }
                            </InputSelect>
                            <ValidationMessage For="() => employee.IdentityType" />
                        </div>
                    </div>

                    @if (!Id.HasValue)
                    {

                        <div class="mb-3 row">
                            <label class="col-sm-2 col-form-label">
                                @SharedDataService.SelectViewLang("Gender", "النوع")
                            </label>
                            <div class="col-sm-10">
                                <InputSelect class="form-control" @bind-Value="employee.Gender">
                                    @foreach (var gender in Enum.GetValues<Gender>())
                                    {
                                        <option value="@gender">
                                            @GetGenderDisplay(gender)
                                        </option>
                                    }
                                </InputSelect>
                                <ValidationMessage For="() => employee.Gender" />
                            </div>
                        </div>
                    }


                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">
                            @SharedDataService.SelectViewLang("Marital status", "الحالة الاجتماعية")
                        </label>
                        <div class="col-sm-10">
                            <InputSelect class="form-control" @bind-Value="employee.MaritalStatus">
                                @foreach (var maritalStatus in Enum.GetValues<MaritalStatus>())
                                {
                                    <option value="@maritalStatus">
                                        @GetMaritalStatusDisplay(maritalStatus)
                                    </option>
                                }
                            </InputSelect>
                            <ValidationMessage For="() => employee.Gender" />
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label for="Email" class="col-sm-2 col-form-label">@SharedDataService.SelectViewLang("Email", "الايميل")</label>
                        <div class="col-sm-10">
                            <InputText class="form-control" id="Email" @bind-Value="employee.Email" />
                            <ValidationMessage For="() => employee.Email" />
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="Phone" class="col-sm-2 col-form-label">@SharedDataService.SelectViewLang("Phone", "الهاتف")</label>
                        <div class="col-sm-10">
                            <InputText class="form-control" id="Phone" @bind-Value="employee.Phone" />
                            <ValidationMessage For="() => employee.Phone" />
                        </div>
                    </div>
            
                    <div class="mb-3 row">
                        <label for="Address" class="col-sm-2 col-form-label">@SharedDataService.SelectViewLang("Address", "العنوان الحالي")</label>
                        <div class="col-sm-10">
                            <InputText class="form-control" id="Address" @bind-Value="employee.Address" />
                            <ValidationMessage For="() => employee.Address" />
                        </div>
                    </div>
            
                </div>
            </div>
            <!--Personal Information-->
            <!--Qualifications-->
            <div class="card mb-3">
                <div class="card-header">
                    @SharedDataService.SelectViewLang("Scientific Qualifications", "المؤهلات العلمية")
                </div>
                <div class="card-body">
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">
                            @SharedDataService.SelectViewLang("Qualification", "الدرجة العلمية")
                        </label>
                        <div class="col-sm-10">
                            <InputSelect class="form-control" @bind-Value="employee.Qualification">
                                @foreach (var qualification in Enum.GetValues<Qualification>())
                                {
                                    <option value="@qualification">
                                        @GetQualificationDisplay(qualification)
                                    </option>
                                }
                            </InputSelect>
                            <ValidationMessage For="() => employee.IdentityType" />
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label for="specialization" class="col-sm-2 col-form-label">@SharedDataService.SelectViewLang("Specialization", "التخصص")</label>
                        <div class="col-sm-10">
                            <AutoCompleteComponent TItem="SpecializationDto"
                                                   Items="specializations"
                                                   Value="selectedSpecialization"
                                                   ItemText="(b=> SharedDataService.SelectViewLang(b.NameEng,b.Name))"
                                                   ValueChanged="OnSpecializationSelected">
                            </AutoCompleteComponent>
                                
                            <ValidationMessage For="() => employee.SpecializationId" />
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="academicInistitution" class="col-sm-2 col-form-label">@SharedDataService.SelectViewLang("Academic Institution", "جهة الدراسة")</label>
                        <div class="col-sm-10">
                            <AutoCompleteComponent TItem="AcademicInstitutionDto"
                                                   Items="academicInstitutions"
                                                   Value="selectedAcademicInistitution"
                                                   ItemText="(b=> SharedDataService.SelectViewLang(b.NameEng,b.Name))"
                                                   ValueChanged="OnAcademicInistitutionSelected">
                            </AutoCompleteComponent>
                            
                            <ValidationMessage For="() => employee.AcademicInstituteId" />
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="branch" class="col-sm-2 col-form-label">@SharedDataService.SelectViewLang("Graduation Year", "سنة التخرج")</label>
                        <div class="col-sm-10">
                            <InputSelect class="form-control" @bind-Value="employee.GraduationYear">
                                @foreach (var gy in graduationYears.ToList())
                                {
                                    <option value="@gy">
                                        @gy
                                    </option>
                                }
                            </InputSelect>
                            <ValidationMessage For="() => employee.GraduationYear" />
                        </div>
                    </div>
                    
                </div>
            </div>
            <!--Qualifications-->
            <!--Employment Data-->
            <div class="card mb-3">
                <div class="card-header">
                    @SharedDataService.SelectViewLang("Employment information", "المعلومات الوظيفية")
                </div>
                <div class="card-body">

                    <div class="mb-3 row">
                        <label for="inputEmployeeNo" class="col-sm-2 col-form-label">@SharedDataService.SelectViewLang("Employee No", "الرقم الوظيفي")</label>
                        <div class="col-sm-10">
                            <InputText class="form-control" id="inputEmployeeNo" @bind-Value="employee.EmployeeNo" disabled="@(Id.HasValue && Id != Guid.Empty)" />
                            <ValidationMessage For="() => employee.EmployeeNo" />
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="HireDate" class="col-sm-2 col-form-label">@SharedDataService.SelectViewLang("HireDate", "تاريخ التعيين")</label>
                        <div class="col-sm-10">
                            <InputDate class="form-control" id="HireDate" @bind-Value="employee.HireDate" />
                            <ValidationMessage For="() => employee.HireDate" />
                        </div>
                    </div>
                    @* @if (!Id.HasValue)
                    { 
                    }
                    *@
                
                    <div class="mb-3 row">
                        <label for="position" class="col-sm-2 col-form-label">@SharedDataService.SelectViewLang("Select Position", "اختر المسمى الوظيفي")</label>
                        <div class="col-sm-10">
                            <AutoCompleteComponent TItem="PositionDto"
                                                   Items="positions"
                                                   Value="selectedPosition"
                                                   ValueChanged="OnPositionSelected"
                                                   ItemText="(b=> SharedDataService.SelectViewLang(b.TitleEng,b.Title))">
                                @* OnSelected="OnPositionSelected" *@
                            </AutoCompleteComponent>
                            <ValidationMessage For="() => employee.PositionId" />
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">
                            @SharedDataService.SelectViewLang("Employment Type", "نوع الدوام")
                        </label>
                        <div class="col-sm-10">
                            <InputSelect class="form-control" @bind-Value="employee.EmploymentType">
                                @foreach (var employmentType in Enum.GetValues<EmploymentType>())
                                {
                                    <option value="@employmentType">
                                        @GetEmploymentTypeDisplay(employmentType)
                                    </option>
                                }
                            </InputSelect>
                            <ValidationMessage For="() => employee.Gender" />
                        </div>
                    </div>

                </div>
            </div>

            
            <div class="card mb-3">
                <div class="card-body">
                    <button type="submit" class="btn btn-primary">
                        <i class="bi bi-floppy2-fill m-1"></i>
                        
                        @(Id.HasValue ? SharedDataService.SelectViewLang("تعديل", "Update") : SharedDataService.SelectViewLang("حفظ", "Save"))
                    
                    </button>
                    <button type="button" class="btn btn-dark" @onclick="onCancel"><i class="bi bi-stop-circle-fill"></i> @(SharedDataService.Language == "Ar" ? "إلغاء" : "Cancel")</button>
                </div>
            </div>

               

        </section>

        <!--buttons-->
    </EditForm>
</section>
@code {
    [Parameter]
    public Guid? Id { get; set; }

    private List<BranchDto> branches = [];
    private List<AdministrationDto> administrations = [];
    private List<DepartmentDto> departments = [];
    private List<PositionDto> positions = [];
    private List<AcademicInstitutionDto> academicInstitutions = [];
    private List<SpecializationDto> specializations = [];
    private List<int> graduationYears = [];
    private EmployeeDto employee = new();

    private Guid companyId;

    private string title;
    private AuthenticationState AuthState;
    protected override async Task OnInitializedAsync()
    {

        AuthState = await ((CustomAuthStateProvider)AuthenticationStateProvider).GetAuthenticationStateAsync();
        companyId = Guid.Parse(AuthState.User.Claims.First(c => c.Type == "company_id").Value);

        ResetEmployee();
        title = SharedDataService.SelectViewLang("New Employee", "موظف جديد");
        var bResponse = await BranchService.GetByCompanyIdAsync(companyId, 0, 1000);
        if (bResponse.IsSuccess)
        {
            branches = bResponse.Data?.Data?.ToList() ?? [];
        }

        var posResponse = await PositionService.GetAsync(companyId, 0, 1000);
        if (posResponse.IsSuccess)
        {
            positions = posResponse.Data?.Data?.ToList() ?? [];
        }
        var academicResponse = await AcademicInistitutionService.GetByCompanyAsync(companyId, 0, 1000);
        if (academicResponse.IsSuccess)
        {
            academicInstitutions = academicResponse.Data?.Data?.ToList() ?? [];
        }

        var specResponse = await SpecializationService.GetByCompanyAsync(companyId, 0, 1000);
        if (specResponse.IsSuccess)
        {
            specializations = specResponse.Data?.Data?.ToList() ?? [];
        }

        int thisYear = DateTime.Now.Year;

        graduationYears = Enumerable
            .Range(thisYear - 30, 31) // start, count
            .Reverse()
            .ToList();

        if (Id.HasValue)
        {
            title = SharedDataService.SelectViewLang("Edit Employee", "تعديل بيانات موظف");
            var empResponse = await EmployeeService.GetByIdAsync(Id.Value);
            if (empResponse.IsSuccess)
            {
                employee = empResponse.Data;
                selectedPosition = positions.FirstOrDefault(p => p.Id == employee.PositionId);
                selectedAcademicInistitution = academicInstitutions.FirstOrDefault(a => a.Id == employee.AcademicInstituteId);
                selectedSpecialization = specializations.FirstOrDefault(s => s.Id == employee.SpecializationId);

                StateHasChanged();
            }
            else
            {
                //show employee not found msg and return to employee list page
                await ModalService.ShowAsync(
                    new ModalOptions
                    {
                        Title = SharedDataService.SelectViewLang("Edit Employee", "تعديل بيانات موظف"),
                        Message = SharedDataService.SelectViewLang("Employee not found", "لم يتم العثور على بيانات الموظف"),
                        IsError = false,
                        OnOk = async () =>
                        {
                            NavigationManager.NavigateTo("/Employee/Employee/List");
                        }
                    }
                );
            }
        }
        else
        {

        }
    }
    private void ResetEmployee()
    {
        employee = new()
        {
            CompanyId = companyId,
            HireDate = DateTime.UtcNow,
            DateOfBirth = DateTime.UtcNow.AddYears(-20),
            Nationality = NationalityTranslator.GetDisplay(Nationality.SaudiArabian, SharedDataService.Language),
            IdentityType = IdentityType.Iqama,
            Gender = Gender.Male,
            MaritalStatus = MaritalStatus.Single,
            Qualification = Qualification.Bachelor,
            GraduationYear = DateTime.Now.Year - 1,
            EmploymentType = EmploymentType.Full,
            

        };
    }
    private async Task HandleSubmit()
    {
        if (!Id.HasValue || Id == Guid.Empty)
        {
            //Create

            var empResponse = await EmployeeService.CreateAsync(employee);
            if (empResponse.IsSuccess)
            {
                //show success toast
                ToastService.Show(
                    new ToastMessage
                    {
                        Message = "Employee Created successfully",
                        Type = "Success"
                    }
                );
                //Reset Fields
                ResetEmployee();
            }
            else
            {
                //Show Error message
                await ModalService.ShowAsync(
                    new ModalOptions
                    {
                        Title = SharedDataService.SelectViewLang("Add Employee", "إضافة موظف"),
                        Message = SharedDataService.SelectViewLang("An error has occured, please try again", "حدث خطأ أثناء ما، الرجاء المحاولة مرة أخرى"),
                        Details = empResponse.Error?.Detail ?? "",
                        IsError = true,
                        OnOk = async () =>
                        {

                        }
                    }
               );

            }
        }
        else
        {
            //Update
            var empResp = await EmployeeService.UpdateAsync(employee);
            if (empResp.IsSuccess)
            {
                ToastService.Show(
                    new ToastMessage
                    {
                        Message = SharedDataService
                                        .SelectViewLang("Employee's data has been modified successfully", "تم تعديل بيانات الموظف بنجاح"),
                        Type = "Success"

                    }
                );

                NavigationManager.NavigateTo("/Employee/Employee/List");
            }
            else
            {
                await ModalService.ShowAsync(
                    new ModalOptions
                    {
                        Title = SharedDataService.SelectViewLang("Add Employee", "إضافة موظف"),
                        Message = SharedDataService.SelectViewLang("An Error has occured, please try again", "حدث خطأ ما، الرجاء المحاولة مرة أخرى"),
                        Details = empResp.Error?.Detail ?? "",
                        IsError = true,
                        OnOk = async () =>
                        {

                        }
                    }
                );
            }
        }

    }
    private BranchDto? selectedBranch;
    private async Task OnBranchSelected(BranchDto? branch)
    {

        selectedAdministration = new AdministrationDto();
        selectedBranch = branch;
        var admResponse = await AdministrationService.GetByBranchAsync(branch.Id, 0, 1000);
        if (admResponse.IsSuccess)
        {
            administrations = admResponse.Data?.Data?.ToList() ?? [];

        }
        employee.BranchId = selectedBranch?.Id??null;
        StateHasChanged();
    }

    private AdministrationDto? selectedAdministration;
    private async Task OnAdministrationSelected(AdministrationDto administration)
    {
        selectedDepartment = new DepartmentDto();
        selectedAdministration = administration;
        var deptResponse = await DepartmentService.GetByAdministrationAsync(administration.Id, 0, 1000);
        if (deptResponse.IsSuccess)
        {

            departments = deptResponse.Data?.Data?.ToList() ?? [];
        }
        employee.AdministrationId = selectedAdministration?.Id??null;
        StateHasChanged();
    }
    private DepartmentDto selectedDepartment = new();
    private void OnDepartmentSelected(DepartmentDto department)
    {
        selectedDepartment = department;
        employee.DepartmentId = selectedDepartment?.Id??null;
    }
    private AcademicInstitutionDto? selectedAcademicInistitution;
    private async Task OnAcademicInistitutionSelected(AcademicInstitutionDto academic)
    {
        selectedAcademicInistitution = academic;


        employee.AcademicInstituteId = selectedAcademicInistitution?.Id??null;
    }
    private PositionDto? selectedPosition;
    private async Task OnPositionSelected(PositionDto position)
    {
        selectedPosition = position;
        employee.PositionId = selectedPosition?.Id??null;
    }




    
    private SpecializationDto? selectedSpecialization;
    private async Task OnSpecializationSelected(SpecializationDto specialization)
    {
        selectedSpecialization = specialization;

        employee.SpecializationId = selectedSpecialization?.Id??null;
    }

    private string GetIdentityTypeDisplay(IdentityType type)
    {
        return type switch
        {
            IdentityType.Iqama => SharedDataService.SelectViewLang("Iqama", "إقامة"),
            IdentityType.Passpord => SharedDataService.SelectViewLang("Passport", "جواز سفر"),
            IdentityType.DrivingLicense => SharedDataService.SelectViewLang("Driving License", "رخصة قيادة"),
            _ => type.ToString()
        };
    }
    private string GetGenderDisplay(Gender gender)
    {
        return gender switch
        {
            Gender.Male => SharedDataService.SelectViewLang("Male", "ذكر"),
            Gender.Female => SharedDataService.SelectViewLang("Female", "أنثى"),
            _ => gender.ToString()
        };
    }
    
    private string GetQualificationDisplay(Qualification qualification)
    {
        return qualification switch
        {
            Qualification.None => SharedDataService.SelectViewLang("None", "لا يوجد"),
            Qualification.HighSchool => SharedDataService.SelectViewLang("High School", "ثانوية عامة"),
            Qualification.Bachelor => SharedDataService.SelectViewLang("Bachelor", "بكالوريوس"),
            Qualification.Master => SharedDataService.SelectViewLang("Master", "ماجستير"),
            Qualification.PHD => SharedDataService.SelectViewLang("PHD", "دكتوراه"),
            _ => qualification.ToString()
        };
    }
    
    private string GetMaritalStatusDisplay(MaritalStatus maritalStatus)
    {
        return maritalStatus switch
        {
            MaritalStatus.Single => SharedDataService.SelectViewLang("Single", "اعزب"),
            MaritalStatus.Married => SharedDataService.SelectViewLang("Married", "متزوج"),
            MaritalStatus.Devorced => SharedDataService.SelectViewLang("Divorced", "مطلق"),
            MaritalStatus.Wedowed => SharedDataService.SelectViewLang("Widowed", "أرمل"),
            _ => maritalStatus.ToString()
        };
    }
    private string GetEmploymentTypeDisplay(EmploymentType employmentType)
    {
        return employmentType switch
        {
            EmploymentType.Full => SharedDataService.SelectViewLang("Full", "دوام كامل"),
            EmploymentType.Parttime => SharedDataService.SelectViewLang("Parttime", "جزئي"),
            EmploymentType.Remote => SharedDataService.SelectViewLang("Remote", "عن بعد"),
            _ => employmentType.ToString()
        };
    }

    private void onCancel()
    {
        NavigationManager.NavigateTo("/Employee/Employee/List");
    }

    private async Task OnEmployeeImageSelected(InputFileChangeEventArgs e)
    {
        var file = e.File;
        if (file != null)
        {
            using var stream = file.OpenReadStream(maxAllowedSize: 5 * 1024 * 1024);
            using var ms = new MemoryStream();
            await stream.CopyToAsync(ms);
            var base64 = Convert.ToBase64String(ms.ToArray());

            // Store a clean Base64 string with prefix (no extra whitespace)
            employee.PhotoUrl= $"data:{file.ContentType};base64,{base64}".Trim();
        }
    }
    protected override void OnInitialized()
    {
        SharedDataService.OnChange1 += HandleChangeAsync;
    }

    private async Task HandleChangeAsync()
    {
        await InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        SharedDataService.OnChange1 -= HandleChangeAsync;
    }
}
