@layout LandingPageLayout
@page "/Employee/Employee/view/{Id:guid?}"
@using AlAfkarERP.Shared.Dtos
@using AlAfkarERP.Shared.Pages.Features.Company.Services
@using AlAfkarERP.Shared.Pages.Features.Employees.Services
@using SharedWithUI.Employees.Dtos

@inject IEmployeeService EmployeeService
@inject IPositionService PositionService
@inject IBranchService BranchService

@inject ApiConfig ApiConfig

<main class="d-flex justify-content-center align-items-start mx-3" style="height: 100vh;" dir="rtl">
   
    @* <main style="margin-top: 80px;"> *@
    @if (employee != null)
    {
        <div class="card shadow " style="width: 40rem;margin-top:100px;">
            @* <img src="@(string.IsNullOrEmpty(employee?.PhotoUrl)
                                                                 ? "_content/AlAfkarERP.Shared/images/empPlaceholder.png"
                                                                 : (employee.PhotoUrl.Contains("data:")
                                                                     ? employee.PhotoUrl
                                                                     : $"{ApiConfig.BaseURL}/Images/Employees/{employee.PhotoUrl}"))"
                class="card-img-top" alt="..."> *@
            <div class="card-body">
                <div class="row">
                    <div class="col-3">
                        اسم الموظف
                    </div>
                    <div class="col-9">

                        <h5 class="card-title text-center">@(employee?.FirstName ?? "") @employee.MiddleName @employee.LastName</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">رقم الهوية</div>
                    <div class="col-9">
                        <p class="card-text text-center">@employee.NationalId</p>

                    </div>
                </div>
                <div class="row">
                    <div class="col-3">الجنسية</div>
                    <div class="col-9">
                        <p class="card-text text-center">@employee.Nationality</p>

                    </div>
                </div>
                @if (positions != null && positions.Any())
                {
                    
                    <div class="row">
                        <div class="col-3">الموقع الوظيفي</div>
                        <div class="col-9">
                            <p class="card-text text-center">@(branches.FirstOrDefault(p => p.Id == employee.BranchId)?.Name ?? "")</p>
                        </div>
                    </div>
                }
                @* <a href="#" class="btn btn-primary">Go somewhere</a> *@
            </div>
        </div>
    } else if (isLoading)
    {
        <div class="card" style="width: 30rem;margin-top:50px;">
            @* <img src="_content/AlAfkarERP.Shared/images/empPlaceholder.png" class="card-img-top" alt="..."> *@
            <div class="card-body">
                <h5 class="card-title text-center">جاري تحميل البيانات .. الرجاء الانتظار</h5>
                <p class="card-text"></p>
                @* <a href="#" class="btn btn-primary">Go somewhere</a> *@
            </div>
        </div>
    }
    else
    {
        <div class="card" style="width: 30rem;margin-top:100px;">
            @* <img src="_content/AlAfkarERP.Shared/images/empPlaceholder.png" class="card-img-top" alt="..."> *@
            <div class="card-body">
                <h5 class="card-title text-center">غير معروف</h5>
                <p class="card-text"></p>
                @* <a href="#" class="btn btn-primary">Go somewhere</a> *@
            </div>
        </div>
    }
</main>

@code {
    [Parameter]
    public Guid? Id { get; set; }

    private EmployeeDto? employee;
    private List<PositionDto> positions = [];
    private List<BranchDto> branches=[];
    private bool isLoading = false;
    protected override async Task OnInitializedAsync()
    {
        isLoading = true;
        if (Id.HasValue)
        {
            var empRes = await EmployeeService.GetByIdAsync(Id.Value);
            if (empRes.IsSuccess)
            {
                employee = empRes.Data ?? null;
                var posRes = await PositionService.GetAsync(employee.CompanyId.Value, 0, 1000);
                if (posRes.IsSuccess)
                {
                    positions = posRes.Data?.Data?.ToList() ?? [];
                }

                var brRes = await BranchService.GetByCompanyIdAsync(employee.CompanyId.Value, 0, 1000);
                if (brRes.IsSuccess)
                {
                    branches = brRes.Data?.Data?.ToList() ?? [];
                }
            }


        }
        isLoading = false;
    }
}
